[2019-05-08 16:54] felipe3dfx opened #437 "TypeError: sequence item 0: expected str instance, NoneType found"
When complete process with [social-app-django](https://github.com/python-social-auth/social-app-django), raise the following exception:

[code]

[code]

[2019-05-09 05:09] aleksihakli commented on #437
This is most probably due to IP address resolution failing and returning a None as IP from the OAuth backend authentication. Does this result from logging in with Facebook, Google or LinkedIn?

[2019-05-09 13:32] felipe3dfx commented on #437
Failed with Facebook and Google

[2019-05-09 15:33] felipe3dfx commented on #437
@aleksihakli with Django authenticate will raise same error, i guess forgot something:

[code]

Configuration:
[code]

[2019-05-09 16:09] #437 closed

[2019-05-09 16:19] aleksihakli commented on #437
@felipe3dfx this should be fixed in 30184e2e524f52f017d0e9e5b6d66f274a4dbc80, I added a regression test for the possibly `None` IP address in cache key calculation which was the source of the error. Release has been rolled out in version 5.0.4.

[2019-05-09 20:36] csdenboer commented on #432
Hi, thanks for the reply. We have chosen for an alternative solution for now (separate site only running admin). I will submit a PR in case we implement a solution thats worth merging. Thanks for all your efforts.

[2019-05-10 13:02] GitRon opened #438 "GDPR discussion"
Hi guys,

just talked with my colleage about the issue that with the new EU GDPR law you are basically not allowed to save IP addresses anywhere.

We came up with the idea to make a settings variable. If this is enabled, IP addresses get saved as a hash.

Any thoughts about that solution?

Best from Europe
Ronny

[2019-05-10 13:12] aleksihakli commented on #432
Glad to hear found a solution for your site @csdenboer!

I would like to leave this issue open, as this is a very good feature request, and others might wish to discuss about and implement this functionality.

[2019-05-10 13:48] aleksihakli commented on #438
Hi Ron,

and thanks for opening the data protection discussion! I think that user anonymity and minimal storage of user information is an important aspect of good engineering whenever it is possible.

Firstly, as a disclaimer, I am not an expert on the GDPR and European privacy legislation, so please do double check the views and ideas presented here. These are not facts, but only my personal and

[2019-05-10 14:00] aleksihakli commented on #438
And by the way, you can implement a custom handler that does not store the attempts at all. Please take a look at the [`AxesHandler`](https://github.com/jazzband/django-axes/blob/master/axes/handlers/base.py) and the [`AxesDatabaseHandler`](https://github.com/jazzband/django-axes/blob/master/axes/handlers/database.py) for inspiration. After implementing a custom handler, you can just [swap out the

[2019-05-11 00:54] felipe3dfx commented on #437
@aleksihakli Now works fine! thank you!

[2019-05-13 08:40] GitRon opened #439 "`is_already_locked` gone after update"
Hi guys,

I was using `is_already_locked` (from axes.attempts import is_already_locked) in my custom serializer and after the update it seems to be gone without a comment in the changelog.

1) Maybe this change should be mentioned in the changelog?

2) What would be the best way to get this functionality back?

Thanks!
Ronny

[2019-05-13 08:58] GitRon commented on #439
Ok, after going through the git history, this might be the solution:

Previous:

   from axes.attempts import is_already_locked
   if is_already_locked(request, credentials):
      ...

New:
   if AxesProxyHandler.is_locked(request, credentials):
      ...

Can somebody confirm this? :)

[2019-05-13 09:33] GitRon commented on #438
@aleksihakli Great idea overriding the handler! Maybe it would be cool to have one out-of-the-box in axes so people can behave GDPR-correct by setting up axes in their project?

[2019-05-13 13:16] GitRon opened #440 "django-reversion compability"
Hi guys,

following thing: I'm using django-rest-framework and want to secure my backend with axes.

When I use the default database table type "InnoDB" axes cannot save or update failed attempts in the tables. When I change the table type to "MyIsam", it works.

I just updated to the latest version. Same as before. Super strange but I couldn't figure out why this happens.

Best
Ronny

[2019-05-14 08:37] sbaum opened #442 "Bug with counting access attempts and locking out user"
Hi, I have a major problem with the current behaviour of django-axes. It invalidates the protection against brute-force login attacks.

Django is running in autocommit mode (which is default). These are the relevant axes settings:

[code]

In `handlers/database.py` the access attempt counter gets updated with the following statement:

[code]
So when I try to login with a wrong password 5 times in

[2019-05-14 18:27] aleksihakli commented on #439
Hey @GitRon! You are correct, the old `is_already_locked` API has been deprecated and moved into the handler API in the latest major release version 5. This could be better documented in the change log, it really just needs an update line. The new public handler API is now officially documented and can be considered stable for use.

[2019-05-14 18:28] aleksihakli commented on #440
This might be somehow related to #442 and needs to be investigated further. Are you running with transactions and auto commit mode on with the InnoDB engine?

[2019-05-14 18:37] aleksihakli commented on #442
Hi, and thanks for reporting this! This seems like a bug or flawed design in the handler API and requires further investigation, but it seems the transaction rollback is a very possible explanation for the faulty behavior you are experiencing. If you are correct, then we'll need to iterate on the way that the locking out works in the API layers.

At the moment, the authentication backend first sto

[2019-05-15 06:40] GitRon commented on #439
Alright! Thanks :)

[2019-05-15 06:48] sbaum commented on #442
Unfortunately I don't have a better approach, as I'm no expert on Django internals. I was hoping you'd have a brilliant idea. ;-)

[2019-05-15 11:41] aleksihakli commented on #442
Well, one option is to just leave out the `AxesSignalPermissionDenied` exception, so that the signal handler does not raise at all, which would probably solve the issue. We would need to somehow handle returning an error view in that case. It seems like reading through the Django exception handling logic and database transaction rollbacks is the only smart way to go about solving this.

[2019-05-15 11:49] GitRon commented on #440
I checked it. I stick to MariaDB default behavior so I guess I have `autocommit` on and for transactions... again I just use it like django does. Nothing fancy there.

Does this help somehow? Can I help somehow?

[2019-05-15 14:40] GitRon commented on #430
Sorry to bring up old issues but I derived a custom class from `AxesBackend` and I still get this warning.
It's a bug, right @aleksihakli ? `if 'axes.backends.AxesBackend' not in settings.AUTHENTICATION_BACKENDS` does not check for child classes.

[2019-05-15 17:01] aleksihakli commented on #430
I'll remove the deprecation check, it's not that necessary.

[2019-05-16 15:16] felipe3dfx commented on #433
We need add request parameter when using authenticate function on custom login view, other way it not works:

https://docs.djangoproject.com/en/2.2/topics/auth/default/#authenticating-users
example:
[code]

[2019-05-16 18:36] beaugunderson commented on #433
@aleksihakli

5.0.3 is working well, had to add the request to `authenticate()` in one place in our code but other than that, smooth sailing!

[2019-05-17 20:24] aleksihakli commented on #433
Let's add this to the official documentation.

[2019-05-19 09:49] hcNick commented on #426
So I did manage to get this working in the end, although I managed to do it by editing just the custom validator for DOT and it's an extremely dirty hack so this is more if anyone else is having the same issue:

[code]

[2019-05-19 12:59] aleksihakli commented on #430
@GitRon the best solution seems to be to silence the check with the [`SILENCED_SYSTEM_CHECKS`](https://docs.djangoproject.com/en/2.2/ref/settings/#std:setting-SILENCED_SYSTEM_CHECKS) flag.

Could you try setting the following configuration flag in your `settings.py` and see what it does?

[code]

I think explicitly silencing the checks is a better approach than implicitly forgetting to add the aut

[2019-05-19 13:08] aleksihakli commented on #442
@sbaum would you mind checking out #443? I implemented an alternative way for marking the requests for lockout. All the tests work and this should ideally fix the problem in release 5.0.5.

[2019-05-19 13:10] aleksihakli commented on #440
Reporting the issue was plenty of help! I've implemented an alternative way for marking the requests for lockout in #443 which should fix the issue for DBs with atomic requests and transaction rollbacks.

[2019-05-19 15:32] #433 closed

[2019-05-19 15:32] #439 closed

[2019-05-19 15:32] #442 closed

[2019-05-19 15:32] #430 closed

[2019-05-19 15:51] aleksihakli commented on #440
@GitRon would you mind checking if version 5.0.5 fixes the issue for you? It is released on PyPI.

[2019-05-19 15:51] aleksihakli commented on #442
@sbaum would you mind checking if version 5.0.5 fixes the issue for you? It is released on PyPI.

[2019-05-19 15:51] aleksihakli commented on #439
I've added a changelog entry for this on 5.0 since that was the version where the API deprecated.

[2019-05-19 15:53] aleksihakli commented on #433
The docs now have a [section](https://django-axes.readthedocs.io/en/latest/3_usage.html#authenticating-users) on customizing user authentication and passing the `request` arg to `authenticate`.

[2019-05-19 15:53] aleksihakli commented on #430
The docs now have a [section](https://django-axes.readthedocs.io/en/latest/2_installation.html#disabling-axes-system-checks) about disabling system checks for Axes.

[2019-05-19 18:04] sbaum commented on #442
I will check it and give feedback as soon as possible, but I'm currently on a business trip til next thursday (without access to my development system).

[2019-05-20 06:08] GitRon commented on #439
Awesome! Thanks!

[2019-05-20 06:10] GitRon commented on #430
Really great! Thanks!

[2019-05-20 06:35] GitRon commented on #440
Unfortunately not working when I go via djano REST. The moment I change the collation of the table, it works.

[2019-05-20 09:13] aleksihakli commented on #440
@GitRon that's weird, I guess we're missing something in the flow then.

Would you mind posting your redacted database and table settings for reference along with the commands that fix the functionality?

[2019-05-20 09:24] aleksihakli opened #444 "Improve database specific tests"
To verify functionality with different commit and transaction modes we should have common DB setups in the Travis flow.

- [ ] Postgres
- [ ] MySQL
- [ ] MariaDB
- [ ] SQLite

Inspired by #440

[2019-05-20 09:30] aleksihakli commented on #438
Yeah, that is a valid idea. An anonymous stock handler wouldn't be overly complicated. One thing to note is that the IPs should be redacted from all log messages as well.

Please do feel free to open any and all PRs for features you would like to see in Axes. The project is pretty easy to setup, develop, and test with the tox test runner.

[2019-05-23 07:15] sbaum commented on #442
@aleksihakli Problem is fixed! Thank you!

[2019-05-24 15:40] pakal opened #446 "Behaviour of DISABLE_ACCESS_LOG is misleading"
The docs says this :

[code]

However, at the current state of the code, AXES_DISABLE_ACCESS_LOG is only used in user_logged_out() function, to prevent updating logout times on success logs, and unsuccessful login attempts seem to never be logged into "Access logs" table.
So I don't get what this setting shoudl actually control.

[2019-05-25 14:23] aleksihakli commented on #446
Hey @pakal! Good catch, thanks for reporting the issue.

The `axes.models.AccessAttempt` objects are used to monitor the user login failures.

The `axes.models.AccessLog` objects are used to track successful user logins and logouts in the [database handler](https://github.com/jazzband/django-axes/blob/41c4eda0471d4d6a4f0ef89164d57c7fa046b13a/axes/handlers/database.py) `user_logged_in` and `user_lo

[2019-05-25 14:25] aleksihakli commented on #442
Great, thanks for your help :)

[2019-05-25 17:30] aleksihakli commented on #440
@GitRon do you have your working configuration available? It would really help in debugging the problem here.

[2019-05-25 17:45] #446 closed

[2019-05-25 17:58] aleksihakli commented on #446
Hey @pakal, I fixed the documentation and released a new version 5.0.6 with better flag semantics.

[2019-05-27 07:00] pakal commented on #446
I looked at the patch, it seems to resolve ambiguities perfectly   :)
Thanks !

[2019-05-29 12:56] GitRon commented on #440
@aleksihakli Busy sprint but I try to create a project where we can see this error. Hope I get this done anytime soon!

[2019-05-29 14:06] GitRon commented on #440
@aleksihakli Super weird. Created the same base setup and works. The bug must be with some third party component which interferes one way or the other. I'll keep posting my updates.

[2019-05-29 14:25] GitRon commented on #440
@aleksihakli I found the bad guy! I tried to debug it with no success but the problem occurs only if I put `reversion.middleware.RevisionMiddleware` from the [django-reversion](https://github.com/etianen/django-reversion) in my settings.

Maybe you have more luck finding out why this is interfering with your logic... 🤔

[2019-05-30 13:02] aleksihakli commented on #440
Good find! I updated the title.

It seems like the villain might be [this logic](https://github.com/etianen/django-reversion/blob/master/reversion/middleware.py#L45)

It fetches the exceptions from the stack and reacts to PermissionDenied being raised in the authentication backend, which should only block the current request from being processed.

[2019-05-30 13:08] aleksihakli commented on #440
Opened an issue ticket in https://github.com/etianen/django-reversion/issues/792

[2019-05-31 06:28] GitRon commented on #440
Great! Thanks! Hopefully they'll be able to fit it!

[2019-05-31 15:05] GitRon commented on #438
@aleksihakli Thanks for the hint with tox!

Second: I looked at the source code and played around a little with hashing ip addresses. Do you think we could just hash the ip address inside the `AxesRequest` and then let the database handler to it's work? Maybe create a new class based on `AxesDatabaseHandler` and manipulate every request object which goes at some point inside the class?

[2019-06-02 09:25] aleksihakli commented on #438
I believe the correct place for storing the information would be the handler entirely, where you could anonymize logging as well.

While going about it, it could be smart to anonymize the username as well, and just store a hash of the attempt, similarly as in the cache handler?

Then you could just store the hash of e.g. (username, IP, user agent) as configured, with the necessary timestamps, and

[2019-06-03 14:50] GitRon commented on #438
Hm, good point. Do you have a good idea how I'd be able to make a more secure hash?

And do you know if the current implementation would accept a hash in the IP field? I'd like to avoid adding new nullable fields...

[2019-06-05 17:09] aleksihakli commented on #438
Adding a separate model would probably be smartest since other attributes might have to be redacted as well.

The IP field needs a valid IP address.

Hash "strength" can be improved with more hashing parameters. One option would be to use a secret salt that is loaded through e.g. settings, which can be prepended to the hashes. Another option would be to combine multiple attributes like username an

[2019-06-13 22:57] mogzol opened #451 "Still get lockout message even with AXES_LOCK_OUT_AT_FAILURE set to False"
I have AXES_LOCK_OUT_AT_FAILURE set to False, which does work properly, since I can still log in using valid credentials even when I have passed the failure limit. However, if I have passed the failure limit and enter invalid credentials, then Axes still shows the lockout message (or redirect/template depending on your settings), even though the account isn't actually locked.

If AXES_LOCK_OUT_AT_

[2019-06-14 13:57] aleksihakli commented on #451
You are correct, good catch and PR.

[2019-06-14 14:11] #451 closed

[2019-06-18 19:09] felipe3dfx opened #454 "Reset does not work correctly with the cache backend"
Axes commands axes_reset and axes_reset_username not working, always give 'No attempts found.'

[code]

[code]

i have the following configuration:

settings.py
[code]

requirements.txt
[code]

[2019-06-19 07:34] OndrejIT opened #455 "Add reset command for Access logs"
Because deleting in admin interface is slow and command can be run by cron..

[2019-06-19 15:58] aleksihakli commented on #455
Hey @OndrejIT! That is a good idea, let's add this to feature requests. The feature should be relatively simple in itself.

I'd imagine that adding a parameter for setting the age would be good since most people probably would like to remove access logs that are e.g. over a month old.

[2019-06-19 16:02] aleksihakli commented on #454
Hey @felipe3dfx! Due to how`axes.handlers.cache.AxesCacheBackend` is implemented, the username reset does not function with the cache backend.

The reason is that the cache backend uses a hash in the cache that is calculated from multiple different elements. The implementation can be found [here](https://github.com/jazzband/django-axes/blob/9fa0e7f2158921380922b8d1081e6fdb8f5d171b/axes/helpers.py#

[2019-07-04 04:06] yuri644nds opened #458 "Lockout registered users only on Django admin"
Is there a way to lockout registered users only on Django admin.

[2019-07-04 07:22] aleksihakli commented on #458
Hey @yuri644nds! Currently there isn't, and there is a ticket open on the issue at #432. Please check that issue and the discussion. I'm closing this as a duplicate issue.

[2019-07-04 07:22] #458 closed

[2019-07-09 06:13] aleksihakli commented on #432
Resolved by PR #459.

[2019-07-09 06:13] #432 closed

[2019-07-09 12:50] aleksihakli commented on #455
Resolved by PR #460 @OndrejIT :)

[2019-07-09 12:51] #455 closed

[2019-07-09 19:40] aleksihakli commented on #458
Lockout for admin only has been implemented by @hramezani and released in 5.0.8 @yuri644nds.

[2019-07-11 14:18] aleksihakli commented on #454
The handlers that can not reset attempts now raise a `NotImplementedError` on invalid command execution. The database handler handles resets for the access attempts and logs correctly.

[2019-07-16 17:38] beaugunderson opened #464 "'WSGIRequest' object has no attribute 'axes_ip_address'"
A minority of requests to our application fail with the error `'WSGIRequest' object has no attribute 'axes_ip_address'`.

I can't figure out why the request object is not updated via the axes middleware for these requests.

JWT authentication is potentially implicated; we use a middleware to enable JWT authentication passed in via basic auth headers. We call `auth.authenticate` from this middlewar

[2019-07-16 17:42] beaugunderson commented on #464
It appears that the update doesn't happen in the middleware in the most recent version of django-axes, so I'll also try upgrading to that.

[2019-07-16 17:43] beaugunderson commented on #464
(To be concrete, we were on 5.0.3, will try with 5.0.9)

[2019-07-16 20:20] aleksihakli commented on #464
Hey @beaugunderson! We changed the way the attribute resolution is done because many tools supply other requests than the normal `HttpRequest` to middleware, views, and other functions.

It is probable that the `WSGIRequest` object is supplied from a 3rd party Django plugin and

[2019-07-16 22:19] beaugunderson commented on #464
I think you are right that 5.0.9 will likely fix the issue--I'm currently testing that hypothesis now. :)

[2019-07-17 02:55] beaugunderson commented on #464
I haven't seen this error in production since deploying 5.0.9 everywhere but there also weren't many people using the application at that point in the day--if I don't report back by tomorrow end of day feel free to close this issue. :)

[2019-07-17 17:23] aleksihakli commented on #464
Sounds good. I'll leave this issue open for a while so we can track if anyone else faces these issues.

Request parsing is generally volatile with different request object types and is not trivial with Django apps so I wouldn't be surprised if improvements can be implemented :)

[2019-07-19 06:26] Neuroforge opened #465 "Axes Django Backend Admin"
Hello,

i am trying to control lockouts via the admin page in Django.

Axes appears to work, but there is no way to reset access via the admin page.  This has been addressed before, but documentation has been provided.

https://github.com/jazzband/django-axes/issues/9

Any advice would be appreciated.

Regards,

Daniel

[2019-07-19 06:36] #465 closed

[2019-07-19 06:38] aleksihakli commented on #465
Did you figure this out already? Should we perhaps improve the docs?

[2019-07-19 18:23] camilonova opened #466 "Thank you to all project contributors"
@aleksihakli YOU ARE FUCKING AWESOME!!!

Thanks for all the work you have given us to make this project better.

![Bravo](https://media.giphy.com/media/kdQuvu0LtCEjxYgTcS/source.gif)

[2019-07-19 19:46] aleksihakli commented on #466
Thank you for contributing and giving your time to a lot of projects as well, including this one :) It is nice to work on Axes with all the awesome people who have contributed into the joint effort :+1:

[2019-07-19 19:51] aleksihakli commented on #464
I'm closing this for now as it's Friday and everything appears to be well in version 5.0.9 :)

[2019-07-19 19:51] #464 closed

[2019-07-21 09:48] #466 closed

[2019-07-24 11:52] dgvsecu opened #471 "Compatibility issues with DRF"
I am using:

[code]
Problem seems to be here:

https://github.com/jazzband/django-axes/blob/master/axes/helpers.py#L371

[code]

Instead of having an `django.http.request.HttpRequest` I have an `rest_framework.request.Request`

If I refactor:

[code]

It works.

But this refactoring creates a funky dependency to rest_framework. How could this be properly implemented?

Note: the problem was not pre

[2019-07-24 15:31] markddavidoff commented on #471
This is mentioned in the docs:
https://django-axes.readthedocs.io/en/latest/6_integration.html?highlight=DRF#integration-with-django-rest-framework

Does this address your issue?

[2019-07-24 19:19] aleksihakli commented on #471
Hey, and thanks for reporting! Seems like we could swap out the type check and

[code]

Which should check the types about correctly, and also pass with DRF Request objects.

Would you be interested in opening a PR and checking if that would fix the issue?

We can't depend on DRF there so this has to be implemented without it :)

[2019-07-25 13:12] #471 closed

[2019-07-25 14:32] aleksihakli commented on #471
Fix has been released in version 5.0.11.

[2019-07-25 14:33] dgvsecu commented on #471
Not, it is unrelated.

I have anyway a recent DRF, as stated in my explanation.

[2019-07-25 14:36] dgvsecu commented on #471
Wow, thanks, that was quick! It has even hit pypi! :heart_eyes:

[2019-07-30 10:07] willslater opened #474 "All users locked out"
I have just upgraded to Python 3.6 and Django 2.2.2.

I seem to have issue on live environment where if 1 user gets locked out then all users face the same lock out.

Whilst i debug, is there any way to easily temp disable Axes so that I can avoid this issue, without having to comment out all references to AXEs. I couldn't find any options in docs to set AXES = False or something.

[2019-07-30 12:03] DariaPlotnikova opened #475 "Add ability to specify AXES_COOLOFF_TIME as callable object"
It's useful that ``AXES_FAILURE_LIMIT`` can be not only hardcoded value but also callable object, that returns value at runtime. But it's not possible for setting ``AXES_COOLOFF_TIME``.
I'd like to contribute to source code to add this functionality asap.

[2019-07-30 15:11] markddavidoff commented on #474
Simply comment it in the auth middleware, should prevent it being loaded during the auth flow.

[2019-07-30 18:27] aleksihakli commented on #474
You can also use the `AXES_ENABLED` configuration flag for disabling the plugin functionality. Please refer to the [configuration documentation](https://django-axes.readthedocs.io/en/latest/4_configuration.html) for more information.

[2019-07-30 18:40] aleksihakli commented on #475
Sounds like a good idea, thanks for your interest! Jazzband is always open for PRs.

The current implementation for getting the cooloff is [here](https://github.com/jazzband/django-axes/blob/2fcf439683d09b297575e316b01620a20721ed56/axes/helpers.py#L44) and it is called from [here](https://github.com/jazzband/django-axes/blob/2fcf439683d09b297575e316b01620a20721ed56/axes/helpers.py#L272) and [here]

[2019-07-31 11:19] simanto604newscred opened #476 "BUG: Version 1.6.1: Django 2.2 request.user.is_authenticated is `bool` not function"
Python: 3.7.2
Django:2.2
django-axes:1.6.1

in `check_request` function `request.user.is_authenticated` is `bool` not function in Django 2.2.

[2019-08-01 09:50] tantheeta opened #478 "AxesBackend requires a request as an argument to authenticate"
Hi ,
 we have been using 'rest_framework.authtoken' for JW token creation for users.
We have recently added django axes for implementing captcha functionality.
However, it;s throwing below error:

AxesBackendRequestParameterRequired at /api/api-token-auth/
AxesBackend requires a request as an argument to authenticate

as an FYI, the authentication backend looks like this:
AUTHENTICATION_BACKENDS =

[2019-08-02 07:06] aleksihakli commented on #478
Hey! Axes is not really meant for captcha, it is intended for authentication (login) attempt tracking. Are you sure about your use case?

Could you post your Django, DRF, and Axes versions and DRF configuration for reference?

[2019-08-02 19:19] #478 closed

[2019-08-02 19:20] #476 closed

[2019-08-02 19:23] #474 closed

[2019-08-05 19:02] #475 closed

[2019-08-05 19:06] aleksihakli commented on #475
Released in version 5.0.12.

[2019-08-08 16:25] StevenMedina opened #483 "ModuleNotFoundError: No module named 'axes.handlers'"
Hi, I just updated axes from version 4.5.4 to 5.0.12, make the change that was in the documentation for the use of `is_locked`, but this error is giving me` ModuleNotFoundError: No module named 'axes.handlers'`,
This is my settings and views.

settings.py
[code]

views.py
[code]

I would like to know how I could solve it, could you please help me, thanks

[2019-08-08 21:54] felipe3dfx commented on #483
Ensure to import `from axes.handlers.proxy import AxesProxyHandler`

[2019-08-08 21:54] #483 closed

[2019-08-09 11:42] aleksihakli commented on #483
Your code looks good to me. Can you post your imports?

Do you think the docs could be improved for the custom authentication implementations? If you have any improvement ideas, please feel free to open a PR with changes to the rST files, they are auto built by the RTD website on commit to master so you can just update the source on this repo and the changes go live once upstreamed :)

[2019-08-14 12:58] drozdowsky opened #484 "Module "axes.backends" does not define a "AxesBackend""
Related to: https://github.com/jazzband/django-axes/issues/356
Version: 4.5.4 and 3.0.3
I have configured my project like in the *Installation Notes*
I get this error when I try to access /admin page

`Traceback (most recent call last):
  File "/usr/home/self/.virtualenvs/rp/lib/python2.7/site-packages/django/core/handlers/wsgi.py", line 157, in __call__
    response = self.get_response(request)

[2019-08-14 13:29] drozdowsky commented on #484
To be closed. I have used 'latest' doc when I should have used 4.5.4 doc

[2019-08-14 13:29] #484 closed

[2019-09-02 22:00] BeOleg opened #489 "Internal server error when logging in (`trusted` cannot be null)"
Traceback

[code]

Tried to Google, nothing found.
Any help is appreciated :)

[2019-09-03 15:18] aleksihakli commented on #489
Have you run all the migrations? `trusted` field does not exist in the Axes models.

[2019-09-09 17:38] aleksihakli commented on #489
Closing as this no feedback has been received.

[2019-09-09 17:38] #489 closed

[2019-09-17 07:42] allixx opened #491 "Optimize access attempt fetching"
django-axes-5.0.13, django-1.11.23, python 3.6.5

On each login failure multiple (3x) 'Getting access attempts that are newer than' checks are performed.

Are they really neccessary? I didn't look deep enough but it seems one 'access attempt' check after 'expired access attempts' is just enough.

[17/Sep/2019 07:27:21] "POST /admin/login/?next=/admin/ HTTP/1.1" 200 1810

This is a brand new clean

[2019-09-17 08:27] aleksihakli commented on #491
Hey! Good catch. The code is not super optimized. If you'd like, there is room for improvement PRs and database backend improvements.

[2019-09-17 11:10] allixx commented on #491
I may have been too quick to judge, axes.attempts.get_user_attempts() is used as a helper in a couple of places to get/update different data.

Still it probably worth to be looked upon by someone more proficient.

[2019-10-07 14:08] msaysell opened #495 "Add Django REST Framework JSON payload support for login"
Consider the following curl request:

[code]

Django rest framework places the data payload for the above in its `request.data` as opposed to the `request.POST` dictionary

https://www.django-rest-framework.org/tutorial/2-requests-and-responses/#request-objects

As such, any username is not picked up which practically breaks any integration that doesn't use IP or user agent to cross protect becaus

[2019-10-07 17:45] aleksihakli commented on #495
Hey,

and good catch. You can use the `AXES_USERNAME_CALLABLE` setting to circumvent this problem in your `settings.py`:

    AXES_USERNAME_CALLABLE = lambda request, credentials: request.data["username"]

Remember to check that you have the [JSON parser in your DRF parsers](https://www.django-rest-framework.org/api-guide/parsers/).

If you'd like, improving this via PR would be great. If the `req

[2019-10-08 08:56] msaysell commented on #495
Hey alek

[2019-10-09 14:51] aleksihakli commented on #495
Yeah

[2019-10-11 09:17] msaysell commented on #495
Sorry I clicked the wrong button and didn't mean to close the issue...

The fix I used locally is:

[code]
(we use a linting tool that doesn't allow lambdas)

[2019-10-15 07:27] zerolab opened #501 "Single '}' encountered in format string"
We had someone trying to be "smart" and trying to login with a specially crafted username. e.g. `butterfly.. },,,`

This resulted in a `ValueError` exception (`Single '}' encountered in format string`)
in axes/helpers.py in get_client_str at line 230 after being dispatched from `handle_user_login_failed`

[2019-10-15 07:32] aleksihakli commented on #501
Hey! Thanks for reporting. This needs to be checked ASAP as getting format strings in this flow is a possible security flaw. This seems related to logging in [`get_client_str`](https://github.com/jazzband/django-axes/blob/master/axes/helpers.py#L241).

[2019-10-15 15:12] jstockwin opened #502 "cooloff_time context variable is in iso8601 format"
When using a custom template (by setting the `AXES_LOCKOUT_TEMPLATE`), the template is passed `cooloff_time` as a context variable. This sounds really useful, as I can automatically display to my user "you have been locked out for X minutes/hours".

However, [the code](https://github.com/jazzband/django-axes/blob/93bb73552e522eadd2cc02512183bc05680d43bb/axes/helpers.py#L289) converts this to iso86

[2019-10-15 15:51] aleksihakli commented on #502
Sounds like a good idea @jstockwin! Please do feel free to open a PR for this.

[2019-10-15 19:40] aleksihakli commented on #501
Fix rolled out in release 5.0.16 and available now on PyPI.

Leaving PR open for review and discussion purposes as this is a possible security flaw.

[2019-10-15 19:42] aleksihakli commented on #501
@camilonova would you mind taking a look at issue and related PR for resolution?

[2019-10-15 20:11] aleksihakli commented on #501
Master now has even better string formatting with the safer [`string.Template`](https://docs.python.org/3/library/string.html#template-strings).

[2019-10-17 18:19] aleksihakli commented on #501
This shouldn't be an issue anymore so closing this ticket. I searched the codebase and we don't have any volatile uses of format in the codebase anymore; this was caused by a duplicate invocation of both f-string and `str.format` call.

[2019-10-17 18:19] #501 closed

[2019-10-17 18:21] aleksihakli commented on #495
@msaysell would you be interested in opening a PR for enabling DRF support for others with this?

[2019-10-18 08:33] zerolab commented on #501
Thank you for the speedy fix, @aleksihakli
Works like a charm!

[2019-10-20 14:43] lifecrisis opened #507 "How to disable logging when running tests?"
Greetings,

I'd like to implement some tests that verify that axes is installed and configured properly in my project.  When i run my tests I get logging messages on stderr that appear like the following:

[code]
I'd like a test that simulates a basic brute force attack and then verifies that the IP or user or User-Agent is locked out.  These are very noisy when I have such a test.

How can I sile

[2019-10-20 19:20] aleksihakli commented on #507
Configure logging for the ``AXES_LOGGER`` to not log into console or other target that is too noisy.

There are plenty of examples and documentation around for setting up Django ``LOGGING`` with different configurations.

[2019-10-20 19:20] #507 closed

[2019-10-25 08:02] #495 closed

[2019-10-30 00:06] ckristhoff opened #511 "django-graphql-jwt integration"
Hi everyone

I'm searchin how to integrate Axes with django_graphql_jwt.
Errors inside mutations raises exceptions and the library catch it and response to user with right graphql format, but axes lockout response redirect and blocks the JWT process.

Some ideas?

[2019-10-30 11:53] aleksihakli commented on #511
You can add a new feature to the `get_lockout_response` that can be used for GraphQL and open a PR for it:

https://github.com/jazzband/django-axes/blob/cd75ef45105b12c756dac29e1b171766a5fe9293/axes/helpers.py#L280

A custom function for returning a lockout response could be implemented similar to how cool off and failure limit are currently done.

You could add a configuration key such as `AXES_L

[2019-11-03 21:55] hramezani opened #512 "Prevent multiple call on helper function in `AxesProxyHandler.update_request`"
The `AxesProxyHandler.update_request` might be called several times during the process of user request. and for each call, this function will call 4 helper functions to get user information.
https://github.com/jazzband/django-axes/blob/cd75ef45105b12c756dac29e1b171766a5fe9293/axes/handlers/proxy.py#L56
For example:
In the user successful login process, it will be called two times:

1. In `AxesProx

[2019-11-04 09:01] aleksihakli commented on #512
Good optimization on the helper!

[2019-11-04 19:01] aleksihakli commented on #512
I'll release this in next version 5.0.19 this or next week.

[2019-11-04 19:01] #512 closed

[2019-11-05 11:15] aleksihakli commented on #491
Leaving this open as there still are multiple points of database access for resets etc even after the good optimizations made by @hramezani.

It would be nice to optimize even further so that this plugin does not cause any unnecessary database load. Multiple queries per requesr can hit a high traffic site pretty hard.

[2019-11-06 18:55] aleksihakli commented on #512
Released in version 5.0.19 on PyPI.

[2019-11-08 00:55] getup8 commented on #432
@aleksihakli do you mind clarifying what the AXES_ONLY_ADMIN_SITE flag does exactly?  I've set it in my project and failed login attempts on my normal site are still recorded in the database (although I don't think lockout actually occurs).  Is that WAI?  Ideally, I'd like as little axes code as possible to be run and no database calls to be made when someone logs in to the normal site.

[2019-11-08 09:24] hramezani commented on #432
@getup8 based on documentation

It means the locking just works for the admin site and failed login attempts still recorded for all requests.

[2019-11-08 10:50] aleksihakli commented on #432
The flag allows login on other URLs than admin. On admin it checks the lockout statuses normally.

https://github.com/jazzband/django-axes/blob/ffc396050b5214ddcd1b55e05a66453c5d1e87ad/axes/handlers/base.py#L153

If you'd like to skip database calls on a normal session, you can e.g. specialize the database handler. Read the documentation for references on the handlers. The current design is so tha

[2019-11-16 13:21] aleksihakli commented on #396
Closing, check the discussion on the django-defender ticket.

[2019-11-16 13:21] #396 closed

[2019-11-28 20:10] ckcollab opened #528 "Lockouts removed on refresh when deployed, works fine locally"
Thanks so much for django-axes, really appreciate all of the hard work that has gone into making this as easy to use as possible :)

I'm having a bit of trouble getting lockouts to "stick" on our Heroku deployment. We're not using caching, these are our settings:

[code]

On local development if we clear cache and refresh the login page, the lockout sticks. But, for some reason, on Heroku the lock

[2019-11-28 20:46] aleksihakli commented on #528
Hi @ckcollab! The lockouts are dependant on Axes being able to resolve the correct end-user IP addresses. It does this by looking at the remote IP address of the client defined in here:

https://django-axes.readthedocs.io/en/latest/4_configuration.html#configuring-reverse-proxies

And Django contains the headers in the `request.META` object as described here:

https://docs.djangoproject.com/en/dev

[2019-11-28 21:40] whwkong opened #529 "Lockouts no longer functioning after upgrading from 5.0.18 to 5.0.19"
(Hey everyone, thanks for making axes such a wonderful project!  I know a lot of hard work was put into this!)

I've been using `django-axes` for nearly a year (edit: since `4.5.x`) without any problems, and recently upgraded from `5.0.18` to `5.0.19` and my unit tests now indicate that lockouts are no longer working.

The lockouts are based on user login plus IP.  We are using `axes` with `django

[2019-11-28 21:42] ckcollab commented on #528
Agh! I missed that piece of information, thank you so much! All works now :)

[2019-11-28 21:42] #528 closed

[2019-11-28 21:46] aleksihakli commented on #529
Hey @whwkong! The following functional updates have been made after 5.0.18, could one of them be the culprit?

- https://github.com/jazzband/django-axes/commit/0b8bea5d647caf7fafd6e7d231cc5e9a7a1ecb03
- https://github.com/jazzband/django-axes/commit/b8ef12ce840fb1a355ccaddf82c85e61d5ce3ba3
- https://github.com/jazzband/django-axes/commit/4253fddd7ec0707cdc9e0dd67895e8b39183b1aa
- https://github.co

[2019-11-28 22:11] aleksihakli commented on #529
@hramezani could you check if https://github.com/jazzband/django-axes/commit/0b8bea5d647caf7fafd6e7d231cc5e9a7a1ecb03 or another 5.0.19 release patch is causing this?

[2019-11-28 22:14] hramezani commented on #529
@aleksihakli sure. will check it. I think this https://github.com/jazzband/django-axes/commit/0b8bea5d647caf7fafd6e7d231cc5e9a7a1ecb03 is causing.
based on this comment here
https://github.com/jazzband/django-axes/blob/9d18bfc8921e364100a1cde6eab1b53f45940b93/axes/handlers/database.py#L119
I think we can revert this commit.

[2019-11-28 22:48] hramezani commented on #529
Just created a PR to test this issue.
I don't know if I understood it correctly or not.

[2019-11-28 23:53] whwkong commented on #529
@hramezani I believe the new PR captures the problem.  Thank you.

[2019-11-29 00:32] hramezani commented on #529
@whwkong You are welcome. Here is the newly added test case description:
I tried user failed login with two times with `same username` and enable `AXES_LOCK_OUT_BY_COMBINATION_USER_AND_IP`.
After the second failed login we have just one record in `AccessAttempt` model.
I think this test case does not capture the problem. Rather, it proves that everything is right.
Please give us more information a

[2019-11-29 10:02] aleksihakli commented on #529
@hramezani test upstreamed.

@whwkong I'll leave this issue open for a while, but in order to change behaviour and implementation, I'd like to see a test that either produces an error (either a true negative or false positive) with the current configuration.

[2019-11-29 17:44] whwkong commented on #529
@aleksihakli @hramezani
You are correct, the new test passes.

After some testing
[`7d22d88`](https://github.com/jazzband/django-axes/commit/7d22d88a72b02e0ae71e5fc33e44df95e2ff5eec) passes my tests
[`b8ef12c`](https://github.com/jazzband/django-axes/commit/b8ef12ce840fb1a355ccaddf82c85e61d5ce3ba3) does not pass.

Please give me some time to look at this more closely and hopefully write some tests

[2019-11-29 21:17] whwkong commented on #529
(Note: I added the Django authentication backend dict to my original question body)

After poking around, the problem is with the [`AxesDatabaseHandler._get_user_attempts()`](https://github.com/jazzband/django-axes/commit/b8ef12ce840fb1a355ccaddf82c85e61d5ce3ba3?diff=unified) method from commit `b8ef12c`.

Running full integration test (my app uses `axes` + `drf` + `allauth`), the first time `Axes

[2019-11-29 22:21] whwkong commented on #529
I forgot to mention:
My app does not use session authentication; I use `allauth` and issue jwt tokens upon authentication.

[2019-11-30 01:26] hramezani commented on #529
I think the problem cames from the first attempt to `AxesDatabaseHandler._get_user_attempts()`, where the credential is `None`.
I think the source of the problem is in integrating with `Django Allauth`. based on the [integration-with-django-allauth](https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-allauth):

here is my the scenario which I think cause the pro

[2019-11-30 10:09] aleksihakli commented on #529
I was suspecting this might be due to the caching that has been introduced. I think we can either

1. disable caching,
2. implement a specific fix for allauth, or
3. implement a generic flag for toggling the caching.

Which option do you think is correct?

[2019-11-30 13:08] hramezani commented on #529
I think it is better to disable it. because it is going to be more complicated and maybe error prune in the future.
If you agree with me I can create a PR and revert my commit.

[2019-11-30 18:36] whwkong commented on #529
Yes, this is a correct description of the problem.

[2019-12-01 11:16] aleksihakli commented on #529
@hramezani I agree with you. As the caching is supplementary it is probably better to opt for behaviour that is always be correct than to introduce possibilities for bugs. I think that a rollback and possibly adding a comment about caching being dangerous is the best option here.

[2019-12-02 08:34] aleksihakli commented on #529
Fix upstreamed and published on PyPI in release 5.0.20.

[2019-12-02 08:34] #529 closed

[2019-12-02 08:35] aleksihakli commented on #491
I'll close this as we have experimented with the optimizations and seen that they can be slightly volatile. If someone comes up with a great implementation please reopen the ticket or a PR.

[2019-12-02 08:35] #491 closed

[2019-12-13 11:03] denis-sumin opened #536 "User account whitelisting"
README states that django-axes features user account whitelisting, but I failed to find anything related to it in the documentation. Is it possible to whitelist a single user account?

Thanks!

[2019-12-13 15:01] aleksihakli commented on #536
Hi Dennis. At the moment you'd have to implement the whitelisting in the codebase to achieve this functionality with either a customer handler or a customer user model. I believe the codebase is the best place to start on this.

It would be a nice option to have e.g. a function configurable in settings that could check for whitelisting conditions. That would cover most use cases, I believe. If you

[2019-12-20 15:02] BeOleg commented on #426
@aleksihakli
I have implemented the above yet I get the following error when trying to obtain an access token:
[code]

Traceback

[code]

[2019-12-20 21:22] skuflow opened #544 "ModuleNotFoundError: No module named axesusers"
I've made the adjustments to my django settings file and am getting this message.  I do not see any reference anywhere to this module.  Any ideas?

[2019-12-21 08:11] aleksihakli commented on #544
Hi @skuflow! What are the adjustments you have made? What is the full error message? Have you tried searching for the error text in your project?

[2019-12-21 08:15] aleksihakli commented on #426
Hk @BeOleg! Have you checked the OAuth2 validation examples in the current django-axes documentation? Your code example seems to be of a previous django-oauth-toolkit validator discussion and we have reworked the solution.

[2019-12-21 14:06] skuflow commented on #544
That’s the error.  I followed the setup steps here:

https://django-axes.readthedocs.io/en/latest/2_installation.html

axesuser is not in our code base.

Sent from my phone

[2019-12-22 18:31] aleksihakli commented on #544
Have you checked your `INSTALLED_APPS` list for missing commas or typos?

[2019-12-22 21:58] skuflow commented on #544
Missing comma.   Thanks!

Sent from my phone

[2019-12-23 21:27] aleksihakli commented on #544
Nice, closing the issue!

[2019-12-23 21:27] #544 closed

[2019-12-29 06:52] aidanlister opened #546 "Should axes_reset with DummyBackend fail silently?"
Should axes_reset with DummyBackend fail silently? I think so, as DummyBackend is going to be used for testing ... I don't care if it's not implemented - the implementation should be a null method.

[2019-12-29 14:09] aleksihakli commented on #546
Hey @aidanlister! You have a good viewpoint. I assume you are talking of the `AxesDummyHandler`.

The current behaviour of ”loud failure” with an exception was opted for because django-axes is a security oriented project and some people think that implicit failure is a bad practice in a security context.

You can implement a custom handler and use it in your own project. The API for handlers can b

[2019-12-29 14:12] #546 closed

[2019-12-29 21:43] #536 closed

[2019-12-30 21:21] aidanlister commented on #546
Could you include a AxesTestHandler then, for a sane configuration for testing?

[2019-12-31 09:30] aleksihakli commented on #546
@aidanlister sure, we could include that. Would you like to open a PR for the handler?

[2019-12-31 09:31] aleksihakli commented on #438
Closing as this issue has not received more discussion in half a year :)

[2019-12-31 09:31] #438 closed

[2020-01-01 10:05] aidanlister commented on #546
Done

[2020-01-01 21:00] aleksihakli commented on #546
Released in 5.2.0.

[2020-01-02 15:14] GitRon commented on #438
Hi @aleksihakli unfortunately I had a big project the last couple of months. Still have the topic on my todo list though... Will post update if I manage to tackle the topic!

[2020-01-02 17:26] aleksihakli commented on #438
Great to hear! We can naturally reopen the discussion if we get new viewpoints, solution models, or updates. This closing of the issue was purely for housekeeping purposes :)

[2020-01-07 10:43] mark-mishyn commented on #440
I just put my solution, maybe it will be usefull for someone.
It's monkey patch to skip reversion logic on login views.

`from reversion import views
from django.urls import resolve

def _request_creates_revision(request):
    if resolve(request.path_info).url_name.endswith('login'):
        return False

    return request.method not in ("OPTIONS", "GET", "HEAD")

views._request_creates_revision

[2020-01-07 16:56] aleksihakli commented on #440
@mark-mishyn that seems like a decent workaround. Would you mind opening a PR for the docs integration page?

https://github.com/jazzband/django-axes/blob/master/docs/6_integration.rst

[2020-01-08 19:28] #511 closed

[2020-01-08 19:28] aleksihakli commented on #511
Hey @ckristhoff. The lockouts are now configurable with a flag, check the associated PR for more information.

[2020-01-08 19:32] #440 closed

[2020-01-08 19:36] aleksihakli commented on #440
@mark-mishyn I added the note and it is now available on RTD for everyone:

https://django-axes.readthedocs.io/en/latest/6_integration.html

[2020-01-09 07:14] mark-mishyn commented on #440
Thank you @aleksihakli !

There is simple patch to the doc to fix the case when view doen's have name.
https://github.com/jazzband/django-axes/compare/master...mark-mishyn:patch-1

[2020-01-28 19:50] antuaneacion opened #564 "login with correct credentials is locking too"
djago-axe is locking login with correct credentials

django-axe is locking every attempts of login even with the right credentilas, my site is developed with the Django admin site.
this is my url for login
path('login/', LoginView.as_view(template_name='app/login.html', redirect_authenticated_user=True), name='login'),

[2020-01-28 20:35] #564 closed

[2020-01-29 06:32] aleksihakli commented on #564
Hey @antuaneacion! Did you figure out the problem?

[2020-01-29 13:11] antuaneacion commented on #564
yes I did. I needed to put this in the AUTHENTICATION_BACKENDS
# Django ModelBackend is the default authentication backend.
  'django.contrib.auth.backends.ModelBackend',
thanks anyway

[2020-03-02 14:28] solartune opened #570 "Lockout returns 400 code instead of 403"
Hi guys,
I’ve tried to use django-axes with django rest framework. For some reason when a user reaches a limit of login attempts he continues receiving 400 code instead of 403. I was able to find a workaround in my view to return 403 but this probably should work out of the box, right?

I followed the documentation when I was installing the package.

After installing I specified a few addition set

[2020-03-05 11:04] aleksihakli commented on #570
Hey @solartune! I think this might have to do with the way DRF handles authentication and it's custom authentication backends. Are you using the defaults with it? Have you checked the integration documentation?

https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-rest-framework

[2020-03-10 05:08] I0x4dI opened #571 "Integration with DRF"
Hello.
My project uses Django Admin and Django Rest Framework.
I set the flag AXES_REST_FRAMEWORK_ACTIVE to true.
And I got the library exception, when I logged in Django admin.

Thank you for your work!

[2020-03-10 13:41] aleksihakli commented on #571
Thanks, good catch! Upstreaming the proposed change.

[2020-03-10 13:41] #571 closed

[2020-03-10 14:50] aleksihakli commented on #571
@I0x4dI your PR is now released in 5.3.0 on PyPI :)

[2020-03-10 17:08] crc16 opened #573 "versions after 4.5.4 are no longer accessible on pypi"
I was able to deploy version 5.0.20 on a machine without problem with pip3 around 3pm (Paris) but this version is no longer available when I tried to deploy it on another machine 30 minutes ago

[code]
[code]

[2020-03-10 17:34] aleksihakli commented on #573
Hey @crc16! What version of Python and Django are you running? Axes 5 only supports Python 3.6+ and Django 1.11+.

[2020-03-10 18:04] crc16 commented on #573
I found the problem: an error when initializing the ovh vps: ubuntu server 16.04 instead of ubuntu server 18.04. So python 3.5 instead of python 3.6. This explains the difference in behavior.
I will add a version check in my deployment script. Sorry for this error which is not one.

[2020-03-10 18:04] #573 closed

[2020-03-27 20:03] ckcollab commented on #570
That integration should only have to be done for DRF < 3.7 though? I'm experiencing similar problems, the lockout message is never bubbled up to DRF, using base token authentication views.

[2020-03-27 20:08] solartune commented on #570
Hi @aleksihakli!
Thank you for your answer!
Yes, as @ckcollab already mentioned, according to the docs it should be the option only for DRF < 3.7 but I'm using DRF 3.9. Do you think we should try something specifically for DRF higher than 3.7?

[2020-03-29 12:37] aleksihakli commented on #570
Have you inspected the DRF token authentication and how it interacts with the stock Django authentication stack?

I think that this has more to do with the DRF and Axes not interacting correctly.

Could you post your full DRF, Axes and Django authentication configuration for reference?

[2020-03-29 20:43] ckcollab commented on #570
We haven't dug into DRF yet, we have tried djoser instead of DRF token and experience similar problems though. Will dig into DRF throughout next week.

In the mean time, I believe these are all the relevant pieces?

[code]

[code]

`lockout_error.json` template:
[code]

[code]

--------------

The problem for us seems to be: `AXES_ONLY_USER_FAILURES` which seems to behave properly but does not bub

[2020-03-30 09:24] aleksihakli commented on #570
I don't have time to look into this right now personally, but it would be great to get this sorted out and fixed! If you can look into this feel free to open a PR.

Better integration tests with DRF are on the backlog and would fit this case very well.

[2020-03-31 21:15] vschettino commented on #432
I bumped at the same issue with AXES_ONLY_ADMIN_SITE, where I wanted to avoid any overhead on APIs calls and let Axes act only on admin features. I was wondering if we could have another setting: a list of paths where Axes wouldn't log anything, like it wasn't even enabled?

[2020-04-04 12:15] aleksihakli commented on #432
Sure it's possible. But what are the API calls and overheads you are concerned about? The idea of this project is to prevent brute forcing authentication attempts. If you only enable security features on part of the web site you might just as well disable it. What is the concrete use case you wish to support?

[2020-04-05 13:28] vschettino commented on #432
OK! I'll explain my scenario:  I'm using [DRF rate limit features](https://www.django-rest-framework.org/api-guide/throttling/) with some custom configuration to secure my endpoints. I'd like django-axes to take care of throttle only on my admin site, without interaction with my login endpoints that are already handled by DRF. The flag "AXES_ONLY_ADMIN_SITE" led me to think that all Axes action wo

[2020-04-11 09:42] sobolevn opened #581 "Problems with settings"
For some reason I am facing very strange `axes` issue: it just stopped working for me.

The problem is that it cannot find the required settings, like this:

[code]

The thing is, it really works during the startup process (I put `print()` inside `django-appconf` to check that `settings` object does have the required values):

[code]

I have also checked `id(settings)` during startup and running t

[2020-04-11 10:06] sobolevn commented on #581
Ok, I have solved it.

I had:

[code]

Inside `__init__.py` I had:

[code]

Inside `celery_app.py` I had `django.setup()`

After I removed `from .celery_app import app` from `__init__.py` - it worked.

[2020-04-11 10:06] #581 closed

[2020-05-12 21:36] marksweb opened #585 "Issue loading default settings on production server"
Just launching a project onto AWS (fargate) servers & we're unable to login due to a missing setting. Although it's one of the axes defaults, so it's not being loaded properly.

This is happening only on the AWS setup, unable to replicate locally or within our docker setup which builds our fargate containers when running `docker-compose`. Which makes this an awkward issue to raise.

Trying to logi

[2020-05-13 23:18] marksweb commented on #585
So this appears to fix it;
https://github.com/jazzband/django-axes/compare/master...marksweb:fix/585

Running that branch at the moment to watch out for anymore errors. They were happening sporadically since I reported this.

[2020-05-15 12:37] aleksihakli commented on #585
Hi @marksweb! Thanks for reporting. What is the configuration you are running on Fargate? Are you building custom Docker containers and how are you provisioning them? Would you mind posting the Dockerfile with Python and Django version information and the ECS / Fargate configuration if you can?

[2020-05-15 16:24] #585 closed

[2020-05-15 16:51] aleksihakli commented on #585
A fix for this has been released in version 5.3.2 and is now available on PyPI.

https://pypi.org/project/django-axes/

[2020-05-15 22:41] marksweb commented on #585
Fantastic @aleksihakli - thank you!

Yeah we're building docker containers with django 2.2.12

Here's our dockerfile (varnish only got added today)
[code]
Is there anything specific you're interested in with the ECS setup? I haven't built that side of things, just this side, but have access to the cloud formation scripts.

[2020-05-16 17:42] aleksihakli commented on #585
Since this issue was fixed with the patch, I guess using any further time on this could be considered purely academical. It would be nice to understand why Axes works for most users, but not with the Docker (and Fargate) setup, though.

First off, I don't think Fargate has anything to do with it, and the problem is most likely with the Docker image build.

I don't see anything alarming in the buil

[2020-05-21 08:23] errrken commented on #585
Just wanted to inform you Axes has been working fine for me with Docker & AWS Fargate.

[2020-05-22 10:46] aleksihakli commented on #570
This relates to #411, any help with improving the DRF integrations and tests for it would be awesome!

[2020-05-22 11:00] solartune commented on #570
I did some investigation recently. So, django request and drf request aren't the same. It looks like drf request contains attributes of the django request but not vice versa. So, the attributes which set in the package to the drf request aren't visible in the middleware where the django request is used.

Might be I missed smth but this is my current impression.

[2020-05-27 18:32] AliYmn opened #591 "Some tables does not exist"
Hi, When i login, I get some error about "does not exist".

[code]

[2020-05-27 19:52] dh7892 opened #592 "Lockout doesn't kick in if spamming requests quickly"
Hi,

We are using your fine package with the rest framework and have found an apparent problem.

If I try to hit our auth token endpoint with invalid credentials, it correctly blocks me after the 5 attempts. But if we spam that endpoint really hard (i.e we kick off 100 requests via async), it lets ~15-20 attempts go through before locking it down.

By printing out a few messages from the Axes sign

[2020-05-28 15:42] ChristianBell1995 opened #593 "Dependency on Six"
Using Django 3.0.6, I am getting this error for the latest version of django-axes (5.3.2)

[code]

Would it be possible to remove this dependency from the package so its compatible with Django 3.0.0+

[2020-06-09 15:20] aleksihakli commented on #592
This has to do with how Django itself functions and is not caused by DRF or Axes, although they are affected by it as well.

https://docs.djangoproject.com/en/3.0/topics/db/transactions/

tl: dr; if you want to prevent distributed attacks you have to enable atomic transactions for databases queries, which will slow your code down, and possibly configure your web server so that it handles the HTTP

[2020-06-09 15:21] aleksihakli commented on #591
Have you run the migrations as per instructions in here?

https://django-axes.readthedocs.io/en/latest/2_installation.html

[2020-06-09 15:22] aleksihakli commented on #593
Hi @ChristianBell1995! Axes 5.3.2 should not have a dependency on `django.utils.six`, are you certain that you are running the correct version?

[2020-06-09 15:24] #593 closed

[2020-06-09 15:24] #591 closed

[2020-06-09 19:03] dh7892 commented on #592
Thank for the detailed response. That makes perfect sense and lines up with what I observed.

[2020-06-17 15:15] victorpantoja opened #597 "AccessAttempt created for username "None""
Hey

We have this auth backend:

[code]

It can be used like:

[code]

If for some reason user is not found, `username` will be `None` and a `AccessAttempt` will be created for username `None`.

Based on other parts of the code, shouldn't this case be just ignored and no entry created?

[2020-06-22 07:17] aleksihakli commented on #597
The `user_login_failed` signal emitted is handled at the normal handler which saves the AccessAttempt with username `None` to the database indeed:

https://github.com/jazzband/django-axes/blob/d9b4b10a52bb56bfb2cb29c4df21d802af007c49/axes/handlers/database.py#L71

Should this behaviour be adjusted or documentation added on it?

[2020-06-22 13:00] victorpantoja commented on #597
That's a good question.

My API is consumed by android and iOS apps and we had a bug on Android that was calling an endpoint with `auth_token=None`. This made all users to be blocked as all of them had "None" as username.

We were using version 4.5.x, that was already saving entries to `AccessAttempt` with username `null` but was not locking those requests. As soon as we deployed the version 5.3.4

[2020-06-30 08:01] salzamt commented on #597
so this issue just appears when IP addresses are ignored, right?
because blocking triggers on IP+username basis so None and IP unique pair would be just fine because that means that user enumeration is blocked which is a cool feature.
if the IP address is not part of the blocking criteria, the None user should be ignored i think

[2020-07-01 05:55] mnislam01 opened #601 "ModuleNotFoundError: No module named 'ipware.ip2' -- error in django-axes==5.0.7, Django==2.2, Python==3.8"
`django-ipware` has no module `ipware.ip2` in recent version. Please fix this ASAP.

In the `helpers.py` file import `ipware.ip2` is breaking for new version of django-ipware.

[code]

[2020-07-01 06:43] Huertix commented on #601
Same in here

[2020-07-01 06:43] rawad1989 opened #602 "ModuleNotFoundError: No module named 'ipware.ip2'"
Error with ipware module since it is updated 4 hours ago

ModuleNotFoundError: No module named 'ipware.ip2'

[2020-07-01 06:43] Kingjmk commented on #601
Same here, please update django-ipware dependency

[2020-07-01 06:44] georges-g commented on #601
I confirm the issue. Quickfix: change ipware.ip2 to ipware.ip in the helpers file (twice in the file).

[2020-07-01 06:57] KSD-France commented on #602
Duplicate of #601.

[2020-07-01 07:35] cheesysam commented on #601
@Huertix

Locking django-ipware in your own requirements file should allow you to build for now until this is sorted.

`django-ipware==2.1.0`

[2020-07-01 07:46] Huertix commented on #601
Highly appreciate it @cheesysam

[2020-07-03 07:25] aleksihakli commented on #601
Fixed in 5.3.5 where ipware has been locked to suitable version range >=2,<3 for now.

[2020-07-03 07:25] #601 closed

[2020-07-03 07:29] aleksihakli commented on #602
Fixed in 5.3.5 where ipware has been locked to suitable version range >=2,<3 for now.

[2020-07-03 07:29] #602 closed

[2020-07-03 08:45] LukenAgile42 opened #606 "Module not found: ipware.ip2"
django-axes==5.3.4
django-ipware==3.0.0

Fix is just changing
`import ipware.ip2` to `import ipware`

[2020-07-03 13:00] PetrDlouhy opened #608 "Add option to lock out by ip OR username"
Maybe I did get something wrong, but I think, that it would be possible to set increase safety options of `django-axes`.
With the default option, the attacker can have access to large stack of IP addresses (i.e. through IPv6, darkweb or botnet), and with that he can make N login attempts per IP, which might be sufficient to guess someones password.

On the other hand the other options are insuffic

[2020-07-03 15:29] aleksihakli commented on #608
Yeah, it would be good to offer a combination of both of these options. The project is open for PRs.

A few notes on the implementation of this feature:

1. new unit tests need to be implemented for this feature,
2. existing handlers need to be refactored in order to facilitate this, and
3. it could be good to refactor the existing test base while implementing this since it has a lot of old cruft.

[2020-07-03 15:30] aleksihakli commented on #606
This has been fixed in versions >= 5.3.5.

[2020-07-03 15:30] #606 closed

[2020-07-06 09:05] LukenAgile42 opened #611 "AccessAttempt is never created (axes fails to prevent django rolling back transaction when authentication has failed)"
When I fail to login, axes creates an AccessAttempt instance, as expected. During axes runtime, AccessAttempt remains there and is not deleted. However when I fail to login a 2nd time, and axes code is again called, the AccessAttempt is already gone, even though I can find no point where it could have been deleted.

As a result, axes does not work.

[2020-07-06 11:51] aleksihakli commented on #611
Would you mind posting your Axes configuration and any custom login code you are using?

[2020-07-06 14:03] LukenAgile42 commented on #611
We are using djoser for authentication, django 2.0

AUTHENTICATION_BACKENDS = [
    'axes.backends.AxesBackend',
    'django.contrib.auth.backends.ModelBackend',
]
AXES_FAILURE_LIMIT = 3
AXES_COOLOFF_TIME = 1

Looking at posgres log, access_attempt is not deleted, but rather the transaction gets rolled back every time. I would assume this is actually an inbuilt safety feature of django to not allo

[2020-07-07 14:46] LukenAgile42 commented on #611
Is there any further information that you need? Unfortunately we will have to look for another solution if we cant get an answer here.

What I dont understand is how axes even works at all, as django will rollback the transaction when authentication fails and no AccessAttempt instance will be created. Yet apparently it magically works for everyone else (I cant even any issues that mentions this pr

[2020-07-08 00:19] jorlugaqui commented on #412
@aleksihakli  Ups! it looks like it has been more than one year I have done nothing. My bad, so if you don't mind, I would re-take this work.

[2020-07-08 11:45] aleksihakli commented on #611
What is actually causing the transaction rollback? You probably have a plugin or another component that is performing the rollback in the stack. Transaction rollbacks are a known issue with the database handler if you are using e.g. django-reversion:

https://github.com/jazzband/django-axes/issues/440

Would you mind posting your full plugin and Django configuration so that we have more informatio

[2020-07-08 11:51] aleksihakli commented on #412
@jorlugaqui that would be awesome :) Might be good to coordinate with #608 and #613 as well as @PetrDlouhy has been implementing improvements through the stack.

[2020-07-09 07:07] LukenAgile42 commented on #611
We do indeed use `django-reversion`, though when I removed it from installed apps and middleware and it made no difference.

[code]

How do I reconfigure axes to use `redis`?

[2020-07-09 07:21] LukenAgile42 commented on #611
But actually I dont think `django-reversion` is the problem.

`djoser` tries to authenticate the user.

`self.user = authenticate(
            username=attrs.get(User.USERNAME_FIELD),
            request=self.context.get('request'),
            password=attrs.get('password')
        )`

And when it fails, `rest_framework` is called which raises a validation error.
`raise ValidationError(message_st

[2020-07-09 14:17] aleksihakli commented on #611
[If you are using the Axes database handler and have enabled ATOMIC_REQUESTS in Django then Django will indeed roll back the transactions](https://docs.djangoproject.com/en/3.0/topics/db/transactions/#tying-transactions-to-http-requests) and there's nothing we can do about in the Axes database handler or outside Django, as the transaction is started when the request starts and either committed or

[2020-07-10 09:41] #611 closed

[2020-07-10 09:42] #592 closed

[2020-07-12 10:04] edenorca opened #614 "Add support for Django 3.0.3"
Hi,

I tried using this package for Django _3.0.3_ (python 3.8) and it didn't work.
Also in the [documentation](**url**), it is not very clear which Django versions are supported and, looking in the source code I saw the latest Django version supported is _3.0_

Are there any expectations when will this be compatible with Django 3.0.3?

[2020-07-13 09:54] aleksihakli commented on #614
Axes has packaging and PyPI identifiers indicating support and Django 3.0 is supported.

What is your exact problem? "Did not work" isn't an explanation that offers much to go on.

[2020-07-13 10:12] edenorca commented on #614
Sorry, I misconfigured something. It works, thanks

[2020-07-13 10:12] #614 closed

[2020-07-14 20:10] PierrePaul commented on #507
I know this is closed and quite old, but just in case someone else find this, here is a more complete answer :
[code]
That would go into your settings configuration.

[2020-07-14 20:14] PierrePaul opened #615 "Changing user.id to uuid does not trigger new migration"
I'm looking into some tips here, I'm not sure it's related to django-axes.
We recently switched the user model to use a uuid field.
We already had emaildevices setup, so the user_id field is set to `int`.
Calling `python manage.py migrate` sees no changes.

I tried to create a data migration manually to update `emaildevice`, with no success so far :

[code]
Migration doesnt crash, but doesnt updat

[2020-07-15 07:11] aleksihakli commented on #615
Need more information, could you post the full model and related key specs for reference? Preferably before and after the change, indicating what you expect the migration to change and what is the expected outcome.

[2020-07-15 07:13] aleksihakli commented on #507
Looks like a good solution. You can also define that in your project Django configuration. It's usually good to have a separate configuration for tests with a simpler password hashing algorithm etc.

[2020-07-16 15:18] PierrePaul commented on #615
I'm just going to close this, sorry. Im guessing I shouldnt be messing with user_id once the project has started. Thanks for your time.

[2020-07-16 15:18] #615 closed

[2020-07-28 17:26] aleksihakli commented on #454
The approach does look valid, would you be interested in opening a PR for getting them upstreamed with the handlers?

[2020-07-29 13:20] fbove commented on #454
Giving it a closer look, what I'm saying it's already implemented here:

https://github.com/jazzband/django-axes/blob/7b8123a72c76893dcf42de96329ce53a2420b49d/axes/helpers.py#L177-L190

When it's called by `get_client_parameters` in:

https://github.com/jazzband/django-axes/blob/7b8123a72c76893dcf42de96329ce53a2420b49d/axes/helpers.py#L226

So it won't consider `ip_address` and `user_agent`.

[2020-08-07 07:38] GitRon opened #625 "Deprecation warnings for django 4.0"
Hi @aleksihakli

I just found a deprecation warning for the upcoming django 4.0

Might be worth fixing right now?

Best regards
Ronny

[2020-08-09 18:25] jorlugaqui commented on #412
Hi @aleksihakli,

Do you think we can close this as #618 was merged?

[2020-08-12 00:44] coredumperror commented on #625
I've put in a PR for this. #627

[2020-08-15 12:26] timmyomahony opened #628 "Attempts not being saved when using DRF Simple JWT"
I have Axes set up with Django Rest Framework and DRF SimpleJWT.

- Django==3.0.5
- djangorestframework==3.11.0
- djangorestframework-simplejwt==4.1.4
- django-axes==5.4.3

I've configured everything correctly (it seems). When I try log in via the Django Admin, Axes correctly saves incorrect attempts to the DB. But when I try log in via REST API & Simple Auth, incorrect attempts are identified but

[2020-08-15 13:44] timmyomahony commented on #628
After a lot of troubleshooting, it looks like this is actually to do with having `ATOMIC_REQUESTS=True` in my settings (I didn't realise this was the case).

When logging in with SimpleJWT a `ValidationError` would be thrown if the user password was incorrect (or they were locked out). This caused the transaction to rollback, meaning the login attempt with Django Axes isn't saved (even though it l

[2020-08-15 13:44] #628 closed

[2020-08-23 21:19] jorlugaqui commented on #413
Hey crew, I'll start working on this one.

[2020-08-28 07:26] madebyjeroen opened #632 "IP address for access logs does not show"
I have django-axes running with my Django app and so far everything works fine. However, in the django-axes admin section, the IP addresses do not seem to work. It just shows a "-".

Is there perhaps a setting I should configure for django-axes to enable this or is it one of my Django project settings that prevent this? Maybe one of these:

[code]

[2020-09-04 07:56] jeremyrich opened #634 "Axes settings seems not loaded by django in production"
Axes is in INSTALLED_APPS and AUTHENTICATION_BACKENDS.
Version : 5.5.0

When trying to run my CI and just test runner I got this :

Here is the traceback :
Traceback (most recent call last):
  File "manage.py", line 38, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.7/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line
    u

[2020-09-05 20:43] aleksihakli commented on #634
What is your

1. Python version and distribution,
2. Django version, and
3. CI test runner?

Does this problem exist in your local development setup?

I'm noticing that you are running something under `/var/www/jung/badoom`, how have you configured your project path and settings?

[2020-09-05 20:45] aleksihakli commented on #632
What is your proxy and how have you configured your IP address headers in Axes?

https://django-axes.readthedocs.io/en/latest/4_configuration.html#configuring-reverse-proxies

[2020-09-05 20:46] aleksihakli commented on #628
Thanks! I just merged the PR and the docs should be updated on RTD in a minute 👍

[2020-09-05 20:54] madebyjeroen commented on #632
Apparently I just had to add and configure one of the django-axes settings:

`AXES_META_PRECEDENCE_ORDER = ['HTTP_X_FORWARDED_FOR', 'X_FORWARDED_FOR', 'REMOTE_ADDR']`

[2020-09-05 20:54] #632 closed

[2020-09-07 10:12] jeremyrich commented on #634
Python : Python 3.7.6 / python:3.7-slim-buster
Django : 2.2.13
CI test runner : My travis job that runs all django/python unittests -- but I do have the same locally when doing ./manage.py test ...

[2020-09-08 17:54] jeremyrich commented on #634
@aleksihakli
Here is an insight of what could be the conflict :

we recently added that to our settings

`MIGRATION_MODULES = {AppConfig.create(entry).label: None for entry in INSTALLED_APPS}`

any idea of why axes doesn't like it ?

[2020-09-10 18:25] aleksihakli commented on #634
Well that narrows some things down a bit. I am not familiar with the migration module configuration so I don't have an idea why it would conflict with settings. Is it possible that you could toggle the MIGRATION_MODULES on and off by e.g. commenting it and see if that has an impact?

[2020-09-10 22:07] jeremyrich commented on #634
Well if your suggestion is to be sûre it impacts axes, yes ! We removed this part of the code to test and axes stopped complaining. But we need this migration processus.
It might be related to cyclic import / conflict with Django and axes settings ... Any insight / suggestion to debug that would be helpfull.

[2020-09-11 18:49] mario1519 opened #638 "Info Account locked but I can login"
Hello,
I am new in Dajngo,
Axes give info "Account locked: too many login attempts. Please try again later" ,
but login with good password work, how to lock account and don't let login after to many errors

My settings

[code]

Marius

ps
Sorry for my english

[2020-09-12 10:53] aleksihakli commented on #634
Well the current way of handling settings is via django-appconf

https://github.com/django-compressor/django-appconf

So if there is a problem with loading the settings that could be the cause somehow?

I have had the intention of deprecating the use of django-appconf since it is an extra dependency and can potentially break things and be uncompatible with future Django versions.

Some insight int

[2020-09-12 12:03] aleksihakli commented on #638
Hey Marius! No need for perfect English, the only language we need here is Parseltongue. I see that you are using the database for storing attempts as well as caching. What is your current database engine and Django `DATABASES` configuration?

[2020-09-12 14:04] aleksihakli commented on #634
#640 could potentially fix this, I'm baking an new release version for it so you can test it via PyPI installation.

[2020-09-12 14:55] aleksihakli commented on #634
Can you see if 5.6.0 functions correctly?

[2020-09-12 15:11] jeremyrich commented on #634
Will check that as soon as possible ! Thank you in advance for Time and support.

[2020-09-12 16:06] mario1519 commented on #638
I try everything with caching and storing ;-)

Postgres

DATABASES = {

'default': {

        'ENGINE': 'django.db.backends.postgresql_psycopg2',

        'NAME': '',

        'USER': '',

        'PASSWORD': '',

        'HOST': 'localhost',

        'PORT': '5432',

    },

[2020-09-12 21:29] jeremyrich commented on #634
@aleksihakli It does not seems to fix the issue, still having `AttributeError: 'Settings' object has no attribute 'AXES_LOGGER'`

[2020-09-12 21:30] jeremyrich commented on #634
full trace:
Traceback (most recent call last):
  File "manage.py", line 38, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.7/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python3.7/site-packages/django/core/management/__init__.py", line 357, in execute
    django.setup()
  F

[2020-09-13 12:46] aleksihakli commented on #634
That's a bit strange. Are you sure that your package caches and old installations etc. are cleared and you are running the 5.6.0 version? The `axes.conf` should be part of that stacktrace as well since the `settings` module is loaded and defaults are set there at the moment. `/var/www/jung/badoom` is showing there so I have a suspicion that this _might_ possibly be linked to some old package state

[2020-09-13 12:51] aleksihakli commented on #638
Could you see what happens if you disable the Axes cache by unsetting the `AXES_CACHE` configuration key? Caching the logins does not make a huge difference unless you have a really high traffic site. I'm suspecting that the Django transaction logic and the database cache might be at play here.

[2020-09-13 17:44] jeremyrich commented on #634
I am quite sure I was in a clean state since I am running it on docker and need to rebuild everything when adding or changing a library. But let me try again to be 💯 sure! -- coming back to you on that Tomorrow.

I understand that having a minimal error configuration to test would help you a lot. Let me try to Make a clean repo with only Django and axes with this migration process to try to reprod

[2020-09-13 18:01] aleksihakli commented on #634
Great, that would be awesome. I'm interested in solving this as well as the problem affects both UX and implies a configuration or cyclic import problem you mentioned in some part of the stack. Clean solution just requires a bit more understanding and research on the subject.

[2020-09-13 18:01] jeremyrich commented on #634
@aleksihakli  please find here a minimal django project that reproduce the error :
https://github.com/jeremyrich/temp-django-axes-error

[2020-09-13 18:03] jeremyrich commented on #634
To reproduce just run a simple `python manage.py test` !

[2020-09-13 18:04] jeremyrich commented on #634
traceback :
Traceback (most recent call last):
  File "manage.py", line 21, in <module>
    main()
  File "manage.py", line 17, in main
    execute_from_command_line(sys.argv)
  File "/home/mymy/Documents/temp-django-axes-error/temp_env/lib/python3.8/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line
    utility.execute()
  File "/home/mymy/Documents/temp-dja

[2020-09-14 08:10] aleksihakli commented on #634
Great, that makes debugging and backtracing the error a lot easier. I can reproduce the error locally. I'll see if I can identify what's going wrong with the `MIGRATION_MODULES` configured :)

[2020-09-14 09:09] mario1519 commented on #638
when i take clear configuration no settings it's working the same
got info , but with good pasword i can login
I have set my AUTH_USER_MODEL mamy this is problem ?

[2020-09-14 15:39] aleksihakli commented on #638
`AUTH_USER_MODEL` could be a source for the problem. What is your user model and did you install Axes before or after customizing the user model configuration?

[2020-09-15 08:41] mario1519 commented on #638
class uzytkownicy(AbstractUser):
    """ Użytkownicy """
    id = models.UUIDField(primary_key=True, default=uuid.uuid4, editable=False)
    p1 = models.CharField(max_length=1, default='P', verbose_name="p1")
    p2 = models.CharField(max_length=10, blank=False,verbose_name="p2")
    p3 = models.CharField(max_length=10, blank=False,verbose_name="p3")
    p4 = models.CharField(max_length=3, blank=F

[2020-09-16 12:53] jeremyrich commented on #634
Hello @aleksihakli,
did you had chance to find what could be the problem ?

[2020-09-18 13:49] gthreepwood opened #647 "Error fetching command 'axes_reset_user'"
Hello,

after updating to the latest django-axes (5.6.1) i've got some errors applying its migrations, since the software i'm developing is still in test i had the opportunity to start over and deleting database tables and migrations.
Unfortunately i still got this error every time i try to access django's management commands:

Error fetching command 'axes_reset_user': name 'axes_reset_username' i

[2020-09-18 14:03] gthreepwood commented on #647
This is the content of axes_reset_user.py

axes_reset_username.py  # type: ignore # pylint: disable=all

[2020-09-20 09:31] aleksihakli commented on #647
Probably caused by https://github.com/jazzband/django-axes/commit/baed1377f21c13999b9ef0d217a14848a217fa2c

Will need to roll back the changes in the management command file and release 5.6.2 to fix this.

Thanks for reporting! Let’s see if we can add a regression test for this.

[2020-09-20 19:01] #647 closed

[2020-09-20 19:06] aleksihakli commented on #647
Should be fixed in patch 5.6.2 release.

[2020-09-21 06:09] gthreepwood commented on #647
Thank you very much!
I'm not skilled enough to make a patch, but the next time i wil try.

Have a nice day!

[2020-09-22 09:18] GitRon commented on #570
Took me about 3 hours to realize that the error message is wrong 🙈 Would be happy about any updates happening!

[2020-09-22 09:22] solartune commented on #570
I have found a solution for the problem, btw. But don't have time to make a PR right now. Hopefully, will do that this week.

FYI @aleksihakli

[2020-09-22 09:24] GitRon commented on #570
We fixed the problem in another project. We changed the `validate()` in the `LoginSerializer` like this:

[code]

@solartune Is this the road you took?

[2020-09-22 09:42] solartune commented on #570
I've modified the original middleware :)

It's either possible to use my solution in some project as a custom middleware or to include this change to the package (which is my plan if it will be accepted).

Here is an example how it can look like (please notice that I use a custom `get_failures` here but in fact, it was just copied from the original code. My plan is to make it common so it will be

[2020-09-22 09:58] GitRon commented on #570
@solartune Cool, will give it a shot. Would be awesome if this would end up in the package. Take care that the username is often the email field and therefore cannot be set statically.

[2020-09-22 11:22] GitRon commented on #570
Update: Didn't get it to work quickly. Hopefully this will make its way into the package 😃

[2020-09-22 11:24] solartune commented on #570
Could you please provide details? What doesn't work in your case?

[2020-09-22 11:25] GitRon commented on #570
At first the email instead of the username is not present (I did not investigate) and there was an attribute error deep down in some of the used functions. As I said, just gave it a quick shot.

[2020-09-22 15:00] jeremyrich commented on #634
Hello @aleksihakli,
did you had chance to find what could be the problem ? Sorry for the reminder, but this would really help us sending axes to production ...

[2020-09-23 09:49] simoroma commented on #432
I cannot make `AXES_ONLY_ADMIN_SITE = True` to work. It stills lock out users everywhere. I even tried to dig into the code. I am using Axes version 5.6.2. I am also using Allauth. Is there any conflict with this?

[2020-09-23 11:45] aleksihakli commented on #432
Hey @simoroma! The lock does not actually disable the locking mechanism elsewhere, check the following code path:

https://github.com/jazzband/django-axes/blob/master/axes/handlers/base.py#L136

The implementation or documentation could be improved a bit in this regard.

[2020-09-23 11:57] simoroma commented on #432
Thanks for the super fast reply!

I am using Django 3.1 and Allauth 0.42.0

[2020-09-23 12:10] aleksihakli commented on #570
@solartune I think it would be awesome to support DRF correctly as well and I think your approach looks valid. I guess the two things to take into account are that Axes

1. needs to always function "correctly" with stock Django configuration
2. would be nice to function with DRF and different, commonly used plugins out-of-the-box

As long 1. is OK and we don't degrade or "break" current functional

[2020-09-23 12:16] aleksihakli commented on #634
Hey @jeremyrich! Haven't had time to take a look into this yet. If you are experiencing this as a blocker please feel free to open a PR with a fix. We welcome all the effort and help people can spare us at Jazzband, being that the community and the projects are mostly free-of-charge and voluntary work based.

[2020-09-23 12:22] aleksihakli commented on #432
Well, we do have users using Allauth, but it might require a bit of customization to work smoothly. Have you taken a look into the Allauth integration documentation here and have you specialized the code in any way so far? Please note that the documentation is probably based on an older version of Django as well as Allauth.

https://django-axes.readthedocs.io/en/latest/6_integration.html

I don't

[2020-09-23 12:32] simoroma commented on #432
Thanks, I will try to have a look into it then.

I haven't implemented that bit about integration with Allauth. Nonetheless, everything seems to work smoothly. Locking out users work well and all logins and attempts are stored in the DB.

Checking the function you linked for `AXES_ONLY_ADMIN_SITE` it seems that it should just work by matching the path. Allauth is using different paths from the adm

[2020-09-25 09:18] dependabot-preview[bot] opened #650 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/jazzband) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/jazzband/update-logs/48729052).

[2020-09-25 10:02] jeremyrich commented on #634
Hi @aleksihakli ! Well I am not yet an expert in django/python, only a junior developper -- so that's my first participation to a public/community project !
I did this PR : https://github.com/jazzband/django-axes/pull/651
It fixed the conflict I had, so please have a look at it. You are allowed to trash me for the review :rofl:

[2020-09-26 13:10] aleksihakli commented on #634
That's interesting. However, we need to maintain compatibility in the tests, and hence need the settings to be overridable, so the design might need to be adjusted slighty :)

[2020-09-26 18:44] #634 closed

[2020-09-26 19:04] aleksihakli commented on #634
First of all, thanks for the help in locating and reproducing the issue! I tested the current master as well as #652 against the `temp-django-axes-error` project which you kindly supplied, and this bug should be fixed in version 5.7.0 which will be released to PyPI shortly. Would you mind testing if the fix works as intended for you?

I ran `python manage.py test`  before and after the patch in th

[2020-09-26 19:06] #650 closed

[2020-09-26 22:51] jeremyrich commented on #634
Thanks a lot for the fix. I will test it ASAP and keep you informed!

I went to far by refactoring all settings ^^ !

[2020-09-27 09:37] aleksihakli commented on #634
Refactoring the settings is something that might be nice to do too, as there are better ways for handling them, so I don't think it's too far :) The bug was fixed with a different change, though, so I thought to close the related issues and PRs in the meanwhile. If you would like to see settings structure improved please feel free to reopen the PR!

[2020-09-27 10:44] jeremyrich commented on #634
I will try to take Time to continue the settings refactoring yes. You are very kind and took the time to fix my issue so I would be glad to work on it also even if I have still a lot to learn.

[2020-09-27 11:10] jeremyrich commented on #634
The fix is working ! :tada:

I managed to remove those default settings from my project settings :
 AXES_LOGGER = "axes.watch_login"
AXES_USERNAME_FORM_FIELD = "username"
AXES_USERNAME_CALLABLE = None
AXES_PROXY_ORDER = "left-most"
AXES_PROXY_COUNT = None
AXES_PROXY_TRUSTED_IPS = None
AXES_ONLY_WHITELIST = False
AXES_WHITELIST_CALLABLE = None

Still axes is asking for :
AXES_LOCK_OUT_BY_USER_OR_IP

[2020-09-27 11:46] jeremyrich commented on #634
In fact it's not fixing everything :cry:

It's working on the temp github I made to reproduce the initial error, but on our project which has different settings files for each env, it's making this :

  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "/usr/local/lib/python3.7/site-packages/ddtrace/internal/import_hooks.py", line 215, in wrapped_find_and_load_unlocked
    r

[2020-09-27 16:34] aleksihakli commented on #634
@jeremyrich would you mind testing 5.7.1?

I further moved the settings loading into a place where it should work better.

If that doesn't work then I'm suspecting your DataDog library (ddtrace) might be causing some problems with code instrumentation and disabling that and testing things could be a good thing to try 👍

[2020-09-27 17:27] jeremyrich commented on #634
Looks perfect !!!
I managed to removed all the settings :
AXES_USERNAME_FORM_FIELD = "username"
AXES_USERNAME_CALLABLE = None
AXES_PROXY_ORDER = "left-most"
AXES_PROXY_COUNT = None
AXES_PROXY_TRUSTED_IPS = None
AXES_ONLY_WHITELIST = False
AXES_WHITELIST_CALLABLE = None
AXES_LOCK_OUT_BY_USER_OR_IP = False

Thank you for the second fix ! You are really awesome !

[2020-09-28 07:20] aleksihakli commented on #634
Good that everything works now! Seems like we might have fixed a potential few bugs along the way as well. Thanks for the help in replicating and testing this, really helps a maintainer when there's a stacktrace and examples available 👍

[2020-09-30 01:25] ast-kshinkawa opened #655 "Can't localize name "AXES" on admin page"
Hi team,

I will like someone to add the following attribute to app.py so we can change AXE's app name appearing on admin page for non-tech people.

[code]

By doing this, I can change APP name appearing on django Admin page by overwriting django.po.

Thanks in advance!

[2020-10-01 09:27] aleksihakli commented on #655
Hi @ast-kshinkawa! Django applications API offers name and other overrides as a feature:

https://docs.djangoproject.com/en/dev/ref/applications/#for-application-users

[2020-10-01 09:27] #655 closed

[2020-10-01 09:39] ast-kshinkawa commented on #655
Thanks @aleksihakli! I will try that.

[2020-10-05 07:11] pembo13 opened #657 "No IP address for "private" IPs"
It would be helpful if the documentation mentioned that there's no client IP when the client IP isn't public/routeable due to how `django-ipware` behaves. I was expecting to see the correct IP address in the logs emitted by `django-axes`.

[2020-10-05 09:41] aleksihakli commented on #657
@pembo13 would you like to add a PR describing the actual vs. expected behaviour as you would prefer it?

[2020-10-06 03:14] pembo13 commented on #657
@aleksihakli under what section would this make sense to add it?

Expected behaviour is that internal addresses such as "192.168.1.1" would show up in the logs as part of the client str, as opposed to `None`

[2020-10-06 17:42] aleksihakli commented on #657
Whicj

[2020-10-09 13:12] ludsoft opened #661 "Manage a different limit for IP and user failed attemps"
Following #608 I have a use case for settings different limits for IP and user failed attempts.
I would like to limit to a small number (like 5) the number of attempts that can be done before locking out the account.
But I would like to allow up to 100 attempts per IP as most of the users on the system i want to protect are sharing the same IP.

Would you be open to a split of `AXES_FAILURE_LIMIT`

[2020-10-10 17:45] aleksihakli commented on #661
Hey! You can implement this functionality by writing a custom handler and adding the options there as you would like. Check the project documentation on RTD and the proxy and database handler code on GitHub for reference.

[2020-10-10 17:45] #661 closed

[2020-10-12 07:08] ludsoft commented on #661
Thanks, I'll have a look.

[2020-10-13 04:53] felixcheruiyot opened #663 "Do not record password field value in logs (security concern)"
When we have failed attempts, I can see the POST data under the form data section. My concern is that one can form a pattern based on the user's attempts to log in. This can give insights on the password details. I'd like to only store the username and not the password field in the form data.

Please let me know how that can be achieved.

Thanks.

[2020-10-14 14:55] nieag commented on #570
Hi guys,
I've notices the same issue as @solartune with the DRF request and HttpRequest objects not being the same. So even though the `axes_locked_out` is correctly applied to the DRF request, this is not transferred to the HTTPRequest which is check in the middleware response path.

Additionally, I'm also having the issue that even though Axes correctly tag the DRF request with `axes_locked_out=

[2020-10-14 23:29] momyc commented on #570
For DRF I use the following workaround. I do not install `AxesMiddleware` and instead connect to `user_locked_out` signal

[code]

[2020-10-15 11:46] nieag commented on #570
Thanks for the quick reply, @momyc that is seemingly working great with my initial testing, many thanks!

@aleksihakli Is this additional `user_locked_out` signal something that should be contributed to the library as well? Could do some additional digging to understand why the lockout flow doesn't seem to work as intended in my case.

[2020-10-15 12:41] momyc commented on #570
The problem is that DRF wraps original request and pass it around, e.g. Axes handler sets that wrapper's attribute while middleware checks original request.

[2020-10-18 12:34] aleksihakli commented on #570
The signal approach looks valid as well. We are using a specialized `AxesBackendPermissionDenied` in the project to signify the logout state, maybe emitting that could be a good approach in the handlers?

[2020-10-19 09:38] jeroenmaas opened #666 "DRF addition break integration with Django Simple Captcha"
Since https://github.com/jazzband/django-axes/commit/ae49f3bdae26b9404f83cd7023f3cb39b8b75278 the integration with Django Simple Captcha broken. This forces me to stay on 3.7.x for now.

I have project that contains DRF for certain urls but also contains "normal" django requests. When the lockout is triggered the user is redirected to /locked and normally they see the captcha, but now this piece o

[2020-10-19 15:40] victorpantoja commented on #597
Hey guys! Any thoughts on that?

[2020-10-20 12:31] yahyadev69 opened #667 "Avoid reinitilizing AXES_COOLOFF_TIME for repeat attempts"
I integrated django-axes to my django application whith the following configs :

15 minutes (as timedelta object for minutes)
AXES_COOLOFF_TIME = timedelta(minutes=15)

Here are the spteps :

1 - I tried 3 time to connect with correct user and wrongs password --> result : the user is locked out (i see the messsage : user locked out during 15 min)

2 - after 10 minutes, i try again to connect with

[2020-10-20 21:27] aleksihakli commented on #666
Hey @jeroenmaas! The simplest way to implement support would be to add your own middleware class that supports your particular setup.

[2020-10-25 22:06] hramezani commented on #667
When the user is locked, every login attempt considered to be a failed login, and every failed login update the `attempt_time` for the locked account. So, `AXES_COOLOFF_TIME` will be calculated after the last attempt time(Whether successful or unsuccessful)

[2020-10-27 14:21] jeroenmaas commented on #666
Thank you for the reply @aleksihakli. Guess my use case is a bit special. I'll make my own middleware class that reverts the mentioned commit.

[2020-10-27 14:21] #666 closed

[2020-10-27 17:53] jachane99 opened #671 "Questions for using django-axes for multi-instance webserver deployments"
1. Is the option to add cache still optional? From this https://github.com/jazzband/django-axes/issues/302 discussion, it was. But the current documentation doesn't really make it clear if it is still the case. Is it still the same if we want to disable the cache option?
2. Can we use the default options for Django-axes in multi-instance webserver deployments? By default options, I mean using defa

[2020-10-27 21:51] #671 closed

[2020-11-03 15:43] Jenselme opened #673 "Extra database requests always made with DRF integration"
Hi,

I experienced issues with one extra database query in my tests suite after the update to version 5.8.0. The request is:
[code]

I did some digging and it seems to come from the work done in #659 to fix integration with DRF. From what I understand, we normally just track the login attempts when a user fail to login with `user_login_failed`. So, unless we are on a login view, no extra database

[2020-11-05 18:06] #597 closed

[2020-11-05 18:09] aleksihakli commented on #673
Good catch @Jenselme!

The behaviour should probably be so that Axes only checks the information on login views, reducing extra database load from normal, unrelated requests.

What do you think would be the best way to realize this?

[2020-11-05 18:10] victorpantoja commented on #597
Thanks, @aleksihakli !

[2020-11-05 18:11] aleksihakli commented on #663
Hi @felixcheruiyot! GitHub issues are usually places to indicate and bring up problems, and to ideally propose solutions or fixes to those problems. It's usually not provided for free-of-charge support from package maintainers or users, though discussion on points of concern is also of course encouraged.

[2020-11-05 18:12] aleksihakli commented on #667
Well, it's possible to implement a check for only updating the cool off time if it is not valid anymore, but do you think this should be part of the default behaviour?

[2020-11-05 18:15] aleksihakli commented on #597
I'll bake a new release from the source code :)

[2020-11-05 18:16] victorpantoja commented on #597
Awesome! I put a quick hack in place. time to remove it!

[2020-11-06 10:16] Jenselme commented on #673
Would it make more sense to move this code out of the middleware to handle DRF in https://github.com/jazzband/django-axes/blob/22c564743db7c2abf3051e6ba10ec28fdb70b027/axes/handlers/database.py#L86?

[2020-11-09 01:51] Andrew-Chen-Wang opened #676 "Too many redirects using locked_out AXES_LOCKOUT_URL"
I'm following the docs page 6 for simple-captcha in which you have the following code:

[code]

The implementation gives me too many redirects. Not only are there too many redirects, but the code doesn't really make sense either. If `form.is_valid` results in False, then you have an unbound variable `form`. So the `else` should also be removed.

Is anyone else able to reproduce this case of too ma

[2020-11-09 07:40] aleksihakli commented on #673
I think the problem relates to this https://github.com/jazzband/django-axes/issues/570#issuecomment-709292733. The handler gets the wrapped request, the middleware gets the original request.

One valid option would be to check if the view is an authentication view, but I'm not sure where that information would be available from.

[2020-11-09 15:55] felipe3dfx opened #677 "AXES_USE_USER_AGENT lock out only with user agent"
Hi,

AXES_USE_USER_AGENT dont works, lock out using different IP, my configuration:
[code]
[code]

[2020-11-14 09:48] felixcheruiyot commented on #663
Thanks, @aleksihakli for pointing the need for collaboration.

The most likely solution would provide an optional list of post data items that I don't want to be saved somewhere here https://github.com/jazzband/django-axes/blob/e83a86b51ae5542f2308564c85373144c64860df/axes/handlers/database.py#L114 . I'll create a pull request early next week.

Thanks.

[2020-11-14 12:27] aleksihakli commented on #663
That seems like a good solution @felixcheruiyot! One option would be to include sanitation of the request in it's own method or function that is easy to parametrize and test, which would also allow it to be used from multiple places. A plain function in e.g. `axes/helpers.py` could be a good place for this?

[2020-11-14 13:11] felixcheruiyot commented on #663
That will work and will make it testable.

Is okay if we make this optional with this setting and default?

`AXES_LOG_PASSWORD_ON_FAILURES = False`

Of course, I'll reference the password field from `AXES_PASSWORD_FORM_FIELD`

This means an update to the documentation. Is that right?

[2020-11-17 23:49] #676 closed

[2020-11-18 21:11] ashokdelphia opened #680 "Middleware still runs with AXES_ENABLED turned off"
I'm integrating django-axes into a project where I'd like to disable it in the tests, except where I specifically turn it on.

Unfortunately, if I follow the instructions in the docs, and set `AXES_ENABLED=False` in my test settings, the logic for the middleware still runs during my tests that hit endpoints, many of which don't expect any database access, so they break.

I can conditionally includ

[2020-11-21 16:26] Jenselme commented on #673
Do you mean implementing something like this in the middleware:
[code]
As suggested in https://github.com/jazzband/django-axes/issues/570#issuecomment-708713546?

I confess I don't know much about signals yet.

[2020-11-22 03:44] Andrew-Chen-Wang opened #682 "Infinite redirects with DRF integration"
Same issue as #676, but there wasn't any reproductive case and there wasn't any response. To reproduce the error:

If you follow the documentation for Simple Captcha (I'm using recaptcha, but it acts the same way) here: https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-simple-captcha, you will get too many redirects (status code 302) with if DRF is enabled. If

[2020-11-23 22:40] maresp85 opened #683 "Returned more than one AccessAttempt"
AccessAttempt.MultipleObjectsReturned: get() returned more than one AccessAttempt -- it returned 2!

[code]

[2020-11-24 09:55] hramezani commented on #683
Hi @maresp85, Could you please explain more.

- Python version
- Django version
- django-axes version

How do you get this error?

[2020-11-24 13:41] maresp85 commented on #683
Hi,

Python version 3.8
Django version 3.1.2
django-axes version 5.8.0

**axes/handlers/database.py in user_login_failed at line 125**

        # 3. database query: Insert or update access records with the new failure data
        try:
            attempt = AccessAttempt.objects.get(
                username=username,
                ip_address=request.axes_ip_address,
                user_agent=r

[2020-11-24 17:41] hramezani commented on #683
We need some clear steps to reproduce the problem.

[2020-12-02 15:55] #680 closed

[2020-12-02 15:57] aleksihakli commented on #683
What database and other Axes configuration are you using?

[2020-12-02 16:18] aleksihakli commented on #663
Sounds good to me. I think the best approach is to open a PR with the idea and we can adjust the implementation from there if needed 👍

[2020-12-03 07:29] jachane99 commented on #667
On the topics of cooloff time, I'm looking to implement django axes for brute force protection for my application. I want to implement something like this "lockout for 5 minutes after 5 failed attempts, lockout for 10 minutes after another 5 attempts" Seems like the example in the doc is more straightforward with a fixed wait time, so I want to know if it's possible to implement something like thi

[2020-12-03 08:37] aleksihakli commented on #667
The incrementing or growing wait time is not supported at the moment, I think, so it would have to be a new feature. The project is open for contributions if you would be interested in making this available for everyone.

[2020-12-03 19:56] jachane99 commented on #667
Regarding the previous comment, do you have suggestions on how to implement a check for only updating the cool off time? Would it be appropriate to override the `DatabaseDefaultHandler` to update the record while valid?

[2020-12-06 13:34] aleksihakli commented on #667
The cool off time is static at the moment, but if you wanted to make it more dynamic, you would have to indeed specialize the database handler for your needs, if you are using the database for tracking failures in your project. At the moment the tracking is done with static attempt time update and a timedelta calculation from there, so you would have to e.g. skip updating the attempt time with cer

[2020-12-11 13:05] sobolevn commented on #682
Yes, I confirm. Sadly, I cannot provide a reproduction.

[2020-12-11 13:26] sobolevn commented on #682
Falling back to `5.7` saves the day.

[2020-12-15 09:02] aleksihakli commented on #682
Thanks for the additional data. I'm a bit short on time so if anyone has the ability to track down this error that would be very helpful.

[2020-12-16 00:01] pzelnip commented on #673
One way in which this issue has bitten us is now some tests that inherited from `SimpleTestCase` now require inheriting from `TestCase`.

Similarly some pytest-style function tests that previously didn't require DB access now require the `@pytest.mark.django_db` annotation to pass.

[2020-12-16 16:12] aleksihakli commented on #673
@pzelnip have you tried setting by configuring `AXES_ENABLED = False` in your test settings?

[2020-12-16 17:09] aleksihakli commented on #682
#689 might prove helpful. Could you test if disabling middleware and using the signals approach in the PR works on your environment with DRF and Django Simple Captcha?

[2020-12-16 18:28] Jenselme commented on #673
@aleksihakli It can solve the issue for tests, but in proluction we will still do SQL requests we don't need. Which is my main concern.

[2020-12-16 18:30] Jenselme commented on #673
@aleksihakli nice PR by the way. I'll try to test that by the end of the week.

[2020-12-16 21:14] pzelnip commented on #673
I have not, but I'll give that a try, good tip!

[2020-12-17 03:05] Andrew-Chen-Wang commented on #682
I just finished my finals, so I should have time tomorrow to test out your PR. But since I'm done with finals, I also want to see if I can trace back how this circular loop even happens... (to clarify, I was using recaptcha, but even disabling recaptcha didn't work).

[2020-12-17 06:04] sobolevn commented on #682
For me it happened right in the https://github.com/jazzband/django-axes/blob/9acf904568c9cf973bbd2e358a04fec693c7acea/axes/middleware.py#L46-L61 part

[2020-12-17 11:16] instantrad opened #690 "No flexibility for get_client_parameters (AXES_LOCK_OUT_BY_COMBINATION_USER_AGENT_AND_IP, AXES_LOCK_OUT_BY_COMBINATION_USER_AGENT_AND_USER and AXES_LOCK_OUT_BY_USER_AGENT_ONLY options needed)"
We realised with below config; Every user on our website gets locked out.
AXES_FAILURE_LIMIT = 2
AXES_LOCK_OUT_AT_FAILURE = True
ONLY_USER_FAILURES = False
AXES_USE_USER_AGENT = True
AXES_COOLOFF_TIME = timedelta(minutes=15)

The issue is that the **filter_query** filter out the ip or user_agent. This means that all users with **same IP** but different **user agents** get locked out.

**PROPOSAL:*

[2020-12-18 17:07] aleksihakli commented on #690
I have a wish of cleaning up the flags and just supplying users the option of configuring the filter parameters that should be in the query themselves by keywords for example.

Something like:

    # settings.py
    AXES_LOCKOUT = ["ip_address"]

Then just check that configuration on startup and maybe even allow users to supply their own custom method of resolving the lockout parameters from the r

[2020-12-18 17:42] #673 closed

[2020-12-18 17:46] aleksihakli commented on #682
This should be resolved in version 5.10.0.

Please note that the implementation has changed and DRF is not supported with stock Axes implementation, and needs signals. Refer to the documentation for examples on this:

https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-rest-framework

[2020-12-18 17:46] aleksihakli commented on #682
Could somebody test the version with their DRF stack and see how it works?

[2020-12-18 17:47] aleksihakli commented on #683
Closing the issue as no further information has been reported regarding this issue.

[2020-12-18 17:47] #683 closed

[2020-12-20 10:38] instantrad commented on #690
Your suggestions will work better considering the legacy code you mentioned. That will also provide the flexibility needed

[2020-12-22 15:36] aleksihakli opened #692 "Refactor client lockout parameter resolution"
Opening public discussion on feature request for redesigning and refactoring the lockout parameter resolution functionality as per discussion in jazzband/django-axes#690

Proposal: use a new flag such as `AXES_LOCK_OUT_PARAMETERS` which accepts an iterable of keys or a callable that resolves an iterable. Use a sane default value with behaviour similar to that of current defaults. Make a new major

[2020-12-22 15:45] aleksihakli commented on #570
@solartune and others, please note that this can be resolved in 5.10.0 by attaching the correct signal handler for DRF

https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-rest-framework

[2020-12-22 16:04] aleksihakli opened #693 "Version 6.0.0 release"
The goal for the next major version 6 is to produce an improved version of Axes where the functionality and configuration is more consistent and documentation has more examples of configuring the project to suit individual project scenarios.

This issue will track larger design points and deprecating functionality as a whole and act as an entrypoint for people wanting to participate in the version

[2020-12-22 16:18] aleksihakli commented on #638
I am closing this issue as we have not heard back on it for a while. Please open a new one if this is still relevant. We need more diagnostic information to be able to reproduce the possible issue.

[2020-12-22 16:18] #638 closed

[2021-01-27 22:34] Archmonger opened #712 "Support for Django Channels (ASGI)"
Currently, Django Axes results in an exception when used with the login functionality within Django-Channels `channels.auth`.

If multiple backends are defined in `settings.py`, Django Channels requires the user to define a backend to authenticate with. For example,

[code]

But when the user defines this backend, it breaks the Axes authentication stack.

[code]

Perhaps it's worth discussing with

[2021-01-30 13:20] aleksihakli commented on #712
Hey @Archmonger, thanks for reporting! I think ASGI support would be essential to have as well. This would also be a good target for version 6.0.0.

Since we'd need to define a target setup that should work out-of-the-box or otherwise, would you mind posting example settings that should work with Axes and ASGI enabled?

[2021-01-30 13:25] Archmonger commented on #712
This is the GitHub repository that I've been attempting to reach compatibility with [https://github.com/Archmonger/Conreq](https://github.com/Archmonger/Conreq). Repo only has python dependencies. I'll post some settings.py code snippets tomorrow evening.

[2021-01-30 14:10] aleksihakli commented on #712
That's good, let's go forward from there.

What other Django packages are you using by the way? It seems like the error is coming from [https://github.com/jazzband/django-axes/blob/master/axes/handlers/proxy.py#L114](here) and the request should just be updated with the `request.axes_attempt_time` attribute. It seems like the request is `None`, where does that come from? Should we have a check for

[2021-01-30 22:37] Archmonger commented on #712
The none request probably comes from the fact that Django channels refuses to work through multiple authentication backends.
If multiple backends are configured, it will force the user to define only one for every login call.
[code]
So therefore all the fancy axes request attributes never get populated. Or at least that's my leading theory, I haven't looked at your team's source code.

Here's a li

[2021-02-01 01:17] nattyg93 commented on #454
Hi @aleksihakli I would be happy to consider looking at writing a PR for this if it is something that is still desired. Could I possibly get a bit of guidance?

[2021-02-01 20:04] aleksihakli commented on #454
Hi @nattyg93! If you want to get started with PRs you can refer to the Axes documentation which describes the development process: https://django-axes.readthedocs.io/en/latest/9_development.html

The discussion and work outlined here pretty much describes the desired outcome and things that need to be implemented for it to work. If you have any specific questions please ask away!

[2021-02-04 17:29] Tobeyforce opened #715 "Feature request"
I'm having issues integrating Django axes with DRF using djoser as an auth backend, which I believe is among the more common solutions in DRF.
Registering and keeping track of logins works great, but the lockout errors are painful.

In my views.py tried overriding the Djoser token create method in order to add the decorator.
[code]
In urls:
`url(r"^auth/token/login/?", views.DjangoAxesTokenCreateV

[2021-02-07 10:51] Archmonger commented on #712
Just had a thought. Perhaps the to solution to "only one auth backend can be set" within channels is having the axes backend wrap one or more backends. For example a through a `AXES_AUTH_BACKENDS` variable.

[2021-02-07 13:09] aleksihakli commented on #712
@Archmonger wrapping is actually a nice idea, if it can be done cleanly! Would you be interested in inspecting this on the code level? The authentication backend API specification from Django docs would need to be followed and ASGI implementation checked as well.

[2021-02-07 21:24] Archmonger commented on #712
Sure. I'll consider a PR on axes as a part of my task list. I have a few higher priority cards so I'll get to it within roughly a month.

[2021-02-15 18:20] #454 closed

[2021-03-01 11:15] aleksihakli commented on #715
Hi @Tobeyforce!

Have you checked the `settings.AXES_LOCKOUT_CALLABLE` method? You can configure a custom function for returning the lockout response.

- https://django-axes.readthedocs.io/en/latest/4_configuration.html#configuring-project-settings
- https://github.com/jazzband/django-axes/blob/master/axes/helpers.py#L316

You shouldn't import signals in your class definition, that should be done

[2021-03-01 11:22] Tobeyforce commented on #715
Hi,
Thanks for taking your time.
I'll try to look into it! That seems like what I need.

[2021-03-01 11:48] aleksihakli commented on #715
An example of usage could be e.g. a custom view for processing lockouts:

[code]

And custom setting pointing to the lockout callable:

[code]

[2021-03-01 13:31] Tobeyforce commented on #715
Excellent, you even went ahead and did it for me ;-)
That pretty much answers my question on this topic, hope others will find it if they encounter the same issue. Thanks!

[2021-03-01 13:31] #715 closed

[2021-03-02 16:43] aleksihakli commented on #715
I renamed the issue so it's a bit easier to find via search engine :) Probably good to add this to docs as well.

[2021-03-02 18:00] Tobeyforce commented on #715
Makes sense, yes that would be great as I can really see this being a common problem people encounter since DRF Is growing :-)

[2021-03-10 13:25] laumann opened #727 "Axes + POST requests w/lists results in AttributeError in axes.helpers.get"
I'm not entirely sure if this is a bug in django-axes, or we're using it wrong, so I'll outline what I've observed and what I see as a potential problem.

Versions (that I _think_ are relevant):
 - Django==2.2.6
 - django-axes==5.9.0
 - djangorestframework==3.11.0
 - djangorestframework-simplejwt==4.3.0

I implemented a view that supports a POST request to update some data structures, that accepts

[2021-03-11 10:16] aleksihakli commented on #727
Thanks for the detailed issue @laumann!

Seems like this is a problem with the request data being a `list` instead of `dict`.

You are using an outdated version of Axes which fetches user attributes in the middleware which results in your error. Could you try updating Axes to the latest version which is currently `django-axes==5.13.1`?

[2021-03-11 15:02] laumann commented on #727
No problem :smile:

Ah sure, I'll try it out. I figured that since the code was the same in `get_client_username()` the behaviour would be the same, so I didn't try the update. Thanks for the explanation.

[2021-03-11 15:24] aleksihakli commented on #727
The difference is that `get_client_username()` is not invoked in the middleware in the recent versions: it is only invoked on authentication attempts and lockout signal resolution instead of every request that goes through the middleware.

[2021-03-16 17:29] anthonyryan1 opened #728 "Would HTTP 429s be more appropriate?"
I recently had a penetration tester question whether or not django-axes was working because it returned the same 403 code as an invalid password attempt.

I did verify it was working correctly, but I thought I would raise the issue for discussion on whether there would be merit to using a 429 status code instead of a 403.

The 429 is arguably more semantically correct than the 403, and would make

[2021-03-22 11:15] aleksihakli commented on #728
HTTP 429 might be semantically more correct:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

The response could also in principle include the standardized `Retry-After` header to indicate how long the lockout period is.

This would change the current behaviour and be a good candidate for the version 6 release of Axes?

[2021-03-29 21:59] tushar2407 opened #729 "axes_locked_out variable not caught on response in axes middleware __call__ function"
Hi,
I am a web-dev using your library in one of my projects and working with rest-auth, I encountered that the axes_locked_out variable that was being updated in user_login_failed function of database.py, was not caught in __call__ function of the middleware of django-axes.
I am willing to work on this issue as I found a workaround with your working code.

[2021-04-04 19:37] BoPeng opened #730 "rate limiting of login attempts"
[django-ratelimit-backend](https://github.com/brutasse/django-ratelimit-backend) appears to be useful but I am not sure if it works with my allauth + axes configuration. Has anyone tried to make these three work together? It might also makes sense to add rate limiting to django-axes since axes is already keeping track of login attempts.

[2021-04-06 17:09] aleksihakli commented on #730
Looking at the ratelimiter repo the last commits are from a few years ago from May 2019, is the project supported?

One note on ratelimiting is that there are tools for reverse proxy and load balancer based rate limiting. I would recommend checking out the fail2ban project for references.

[2021-04-06 17:10] aleksihakli commented on #729
Hi @tushar2407. If you have more information on the issue we appreciate any insight you can give. If you have a fix for it, please feel free to open a PR!

[2021-04-07 07:35] BoPeng commented on #730
Thanks for your comments. `fail2ban` indeed could be a better option although I would prefer a django solution since it is more straightforward to deploy. I will close this ticket for now.

[2021-04-07 07:35] #730 closed

[2021-04-07 15:28] aleksihakli commented on #730
If you do find a good solution or have any notes we appreciate any insight for e.g. updating the docs regarding good rate limiting solutions for Django :)

[2021-04-07 18:50] BoPeng commented on #730
Another candidate app along the defense line of my django deployment would be [`django-admin-honeypot`](https://github.com/dmpayton/django-admin-honeypot), which I again hesitate to add due to compatibility and duplicate tracking issues.

I am not advocating for `axes` to steal the idea of these apps but it would be nice for `axes` to become the swissknife of such apps with an integrated tracking

[2021-04-13 01:22] johnalbert-dot-py opened #736 "Not receiving the credentials on lockout"
I'm using a custom lockout function with arguments (same with documentation) and I using the custom Login view (same with documentation too) for the login. But whenever the login attempt was reach, The credential value is None and the request is only working.

[2021-04-13 13:42] aleksihakli commented on #736
Hey @johnalbert-dot-py! Thanks for reporting. Could you post the relevant code or links to the examples you are using for reference?

[2021-04-13 13:47] aleksihakli commented on #730
I've also though about the different applications that try and monitor authentication and rate limiting for Django but I think that it would be best to keep the implementation and code for Axes as-simple-as-possible for maintainability and separation of concerns. Note that these are just my personal thoughts and philosophy on the implementation and this package is maintained by Jazzband, so if you

[2021-04-15 00:40] mcoconnor commented on #663
I started a PR for this ( #738 ) but then determined that the existing AXES_PASSWORD_FORM_FIELD really meets my needs.  @felixcheruiyot, are you trying to remove multiple parameters?  If so, that PR might be a start.

[2021-04-20 10:07] Archmonger commented on #712
My work schedule slowed down my OSS work. Still aiming to tackle this as a PR but unsure what my timeline looks like.

[2021-04-20 20:43] aleksihakli commented on #712
Roger that @Archmonger 👍 No need to worry about timelines since Axes is a voluntary FOSS project.

[2021-04-22 20:48] charleswhchan opened #739 "Feature request: extensible get_client_str"
We would like the ability to customize the message returned by get_client_str() and decorate the output and redact certain private information. Rather than building a full backend, can a new customization be added similar to examples listed in https://django-axes.readthedocs.io/en/latest/4_configuration.html#configuration?

[2021-04-23 14:05] aleksihakli commented on #739
Hi @charleswhchan! Sure, you can add a configuration flag for defining the callable and then add a configuration value for that, similar to the ones that are already implemented. Would you be interested in opening a PR for this? Please include the implementation, docs, and unit tests for the configuration flag in the same PR. They should be fairly easy to add by using the existing implementations

[2021-04-29 12:34] felixcheruiyot commented on #663
@mcoconnor I think the **AXES_SENSITIVE_PARAMETERS** approach will work. For now, I'm interested in only the password field, but other guys might want to remove others like security questions, etc. So I support your implementation approach on this issue.

[2021-05-01 19:28] johnalbert-dot-py commented on #736
I just copy the code from the documentation

[2021-05-19 17:59] aleksihakli commented on #739
Hey @charleswhchan and @smtydn, this should be available in 5.16.0 soon :)

[2021-05-19 17:59] #739 closed

[2021-05-19 23:13] charleswhchan commented on #739
Thank you so much!! @aleksihakli @smtydn

[2021-05-29 08:27] dwasyl opened #750 "Sample AXES_USERNAME_CALLABLE code fails on Lockout"
I'm not sure if this is related to #736, but when implementing `django-axes` with a custom `AXES_USERNAME_CALLABLE` I kept stumbling across a problem on lockout.

Based on the documentation, I created a `get_username` which adds a tenant suffix to the username:
[code]

This seems to work fine, the access log get entries with the correct suffixed username, but when an account gets locked out,. Inst

[2021-06-05 15:51] aleksihakli commented on #750
Hi @dwasyl, and thanks for reporting this! Seems like not all code paths support the custom usernames and some of them should be updated and a test added to check this bug and catch a possible regression. Anyone interested in doing this?

[2021-06-05 15:59] aleksihakli commented on #736
Probably a duplicate of #750

[2021-06-05 15:59] aleksihakli commented on #729
Might be a duplicate of #750

[2021-06-19 20:10] deltaonealpha opened #762 "Way to get username on lockout before template is rendered?"
I would like to issue an email response to the account owner if the account is locked out. Is there any way I can get the username before the lockout template is rendered?

[2021-06-20 13:21] #762 closed

[2021-07-22 18:49] stephenlutes opened #768 "Seperate log from access attempts"
If there is a feature I am missing, great, but if not, is there any plan to separate the log from access attempts. Essentially, I want to enable the cooloff time, but I still want to be able to see the failed attempts after that. Currently, to unlock an account, you have to remove the log of failed attempts.

[2021-08-19 13:11] aleksihakli commented on #768
Hey @stephenlutes! There is a model for access logging but I don't think it is currently used:

https://github.com/jazzband/django-axes/search?q=accesslog

Have you considered using logging itself and storing the attempts in a separate write-only log storage for auditing and reviewing attempts? Storing logs in the same storage (Django database) that can be later modified by the logging system (Dja

[2021-08-19 13:16] aleksihakli commented on #728
@anthonyryan1 this has now been made possible by #770 but I'm wondering if the default could still perhaps be updated from 403 to 429, and would this warrant a major release 6.x as part of the update?

[2021-08-20 09:09] okapies opened #772 ""is_admin_site" has the opposite meaning"
`AxesHandler.is_admin_site()` actually checks if a `request.path` is *NOT* located under the `reverse("admin:index")`.

https://github.com/jazzband/django-axes/blob/ea4d3c477dd1fda2045ed8c927b6d0bb87200d27/axes/handlers/base.py#L136-L147

[2021-08-20 10:26] hramezani commented on #772
Yeah, I agree the name is not good.
`is_admin_site` returns `True` if `AXES_ONLY_ADMIN_SITE` is enable and the request path located under admin site.
do you have any suggestions for the function name?

[2021-08-21 05:27] okapies commented on #772
How about the following?

[code]

[2021-08-23 10:36] hramezani commented on #772
@aleksihakli what do you think about the new naming?

[2021-08-24 18:22] stephenlutes commented on #768
I hadn't considered storing it in logs (though I should have). However, I still have a use case where just logging it still doesn't solve the issue. If the user is allowed to see past history, but also be presented the option to clear that history. Maybe this is something I should just put in a separate app and extend the current one, but it is a use case I see either way.

[2021-08-24 18:22] #768 closed

[2021-08-25 02:38] okapies opened #776 "Potential ValueError for expired AccessAttempt records"
In `AxesDatabaseHandler`, `user_login_failed()` can accidentally cause the following `ValueError` if another concurrent process deletes (e.g. `clean_expired_user_attempts`) an existing record retrieved by `AccessAttempt.objects.get_or_create()` before committing `attempt.save()` on the DB.

[code]

https://github.com/jazzband/django-axes/blob/ac86d4b2139f632cee972e874984982a9628ab27/axes/handlers/

[2021-08-25 11:48] aleksihakli commented on #776
Thanks for reporting @okapies. Do you have a suggestion for fixing this?

[2021-08-25 11:49] aleksihakli commented on #768
In that case it would probably be useful to extend the logging so that AccessLog records are created as well.

One option would be to also include that logic in Axes with a flag, so that the attempts would be created when toggled on?

[2021-08-25 11:51] aleksihakli commented on #772
The naming is misleading. If you think there would be a better naming convention or logic for the function, then I'd vouch for fixing both the semantics for naming and functionality, as that would make the code easier to read and maintain in the long run? If we just add a method and mark another one deprecated then that doesn't really solve the issue of the implementation not being clear as-is.

[2021-08-25 11:57] okapies commented on #772
Agreed. I'm just worried that someone uses `is_admin_site` for their custom handler. I also think the logic depends on `settings` should be placed at `is_allowed` if you can fix all `is_*`s.

[2021-08-25 12:00] aleksihakli commented on #772
I think it's OK to just introduce a new method with a better name and deprecate the old method either with a DeprecationWarning or just remove it so that anyone utilizing it would get a warning or an error from using it?

[2021-08-25 12:48] okapies commented on #776
One idea is not to run `clean_expired_user_attempts` in the handler. IMHO, we should not remove existing records especially when they have a chance to be updated.

[2021-08-25 12:54] okapies commented on #776
Another option is to develop a new `DatabaseHandler` which stores an `Attempt` record per request. In this case, the handler calculates a failure count by aggregating the saved records and we can remove the outdated ones.

[2021-08-31 14:16] roniemartinez opened #782 "[Feature Request] Pass User object to AXES_CLIENT_STR_CALLABLE"
Use case: We want to include more info about the user in the client_str.

`username` is already included in the arguments but that would require us to do a separate DB call which is not very efficient.

[2021-08-31 18:39] aleksihakli commented on #782
Hey @roniemartinez! Would you like to open a PR for implementing this functionality?

[2021-08-31 18:46] aleksihakli commented on #776
How would we distinguish the expired attempts with this approach, and how would expired data be cleaned up?

This is viable and semantically correct, but what would happen in a case where someone e.g. DDoSes the service? It would be very easy to generate a lot of bloat data into the database in a very short time.

[2021-09-02 14:47] aleksihakli commented on #782
Closed by #783

Released in 5.23.0 @roniemartinez

[2021-09-02 14:47] #782 closed

[2021-09-03 05:14] okapies commented on #776
Hmm, or add `select_for_update()` when getting the records?

[code]

[2021-09-06 04:58] okapies opened #784 "Increment the number of failed login attempts atomically in AxesCacheHandler"
`AxesCacheHandler` has a chance to increment `failures_since_start` badly where multiple worker processes receive many concurrent login attempts during the short period (e.g., DDoS). It requires to use of the atomic counter functionality inherent in the caching mechanism like [`INCR` in Redis](https://redis.io/commands/INCR), instead of implementing it ourselves:

https://github.com/jazzband/djang

[2021-09-08 08:14] aleksihakli commented on #784
This would be a very nice improvement if we could implement it in a way that is supported by at least the most common cache backends.

It is worth considering through that the users utilizing the cache handler due to number or volume of requests or DDoS resistance will likely use a specific cache such as Memcached or Redis, which are likely to support atomic incrementation of the cache values.

Th

[2021-09-08 08:26] aleksihakli commented on #776
`select_for_update` does actually seem like a really good option. I tested it locally, and the queryset API does support using it together with `get_or_create`. Would you like to open a PR for this?

I checked the API reference and most commonly used databases including `mysql` and `postgresql` support the queryset method at the very least:

https://docs.djangoproject.com/en/3.2/ref/models/queryse

[2021-09-09 10:29] ZuSe opened #786 "Whitelist URLs / Working with OAuthtoolkit"
Hi folks,

i checked the docs but didnt find an answer to my question.
Would it be possible to whitelist serveral URLs of my applications?

In our case, we are using axes together with the oauthtoolkit and resource server, which do from time to time calls against the userinfo endpoint of oidc.
However, in case a client provided an expired token the resource server would receive a 403 from the oaut

[2021-09-09 14:35] aleksihakli commented on #786
Have you looked into `settings.AXES_WHITELIST_CALLABLE`?

- https://django-axes.readthedocs.io/en/latest/4_configuration.html
- https://docs.djangoproject.com/en/3.2/ref/request-response/#django.http.HttpRequest.path

It could be written e.g. like:

[code]

[2021-09-09 14:57] aleksihakli opened #787 "RTD builds failing for django-axes"
https://readthedocs.org/projects/django-axes/builds/

RTD complains on use_2to3 being invalid:

[code]

[2021-09-09 15:15] jezdez commented on #787
This seems to be a bug in setuptools: https://setuptools.readthedocs.io/en/latest/history.html

[2021-09-09 15:18] jezdez commented on #787
prospector seems to depend on setoptconf that has the use_2to3 flag set, and temporarily fixed it with a fork: https://github.com/PyCQA/prospector/commit/448bb9714712f87277789bfb00c510fa28b76cd8

[2021-09-10 09:25] ZuSe commented on #786
Thanks, that helped a lot.
I looked at the config but didnt see the variable :)

[2021-09-10 09:25] #786 closed

[2021-09-13 15:39] PetrDlouhy opened #788 "AccessAttempt MultipleObjectsReturned"
I have sometimes following error from my production server:

[code]

It seems, that duplicated AccessAttempts can be created in some exceptional cases (probably duplicated requests). This prevents users entirely from being able to log in.

[2021-09-19 10:41] aleksihakli commented on #788
Fixed by #789 and released in version 5.25.0 which should now be up on PyPI :)

[2021-09-19 10:41] #788 closed

[2021-09-20 10:00] aleksihakli commented on #787
Seems like the builds function normally again, closing this.

[2021-09-20 10:00] #787 closed

[2021-09-23 17:32] akas128 opened #794 "How it is usefull to OTP based login apps?"

[2021-10-02 07:16] YDA93 opened #795 "Limit attempts to custom model"
I use SMS verification service in my project and I would like to prevent user from any abuse for example 5 attempts per day.

I already implemented Axes to track and limit login attempts. How if I want to track/limit this kind of service as well?

Thanks!

[2021-10-08 10:34] #794 closed

[2021-10-11 18:16] aleksihakli commented on #750
This should be fixed by #799 and fix is released in version 5.26.0.

[2021-10-11 18:16] #750 closed

[2021-10-12 06:46] #729 closed

[2021-10-13 17:25] aleksihakli commented on #712
Forcibly setting the backend could lead to hard-to-debug problems in some stacks. Could there be alternatives to this approach or could we e.g. introduce a new flag for configuring another authentication backend separately in Axes that we could then invoke from e.g. a new Axes ASGI authentication wrapper backend?

[2021-10-13 21:24] aleksihakli commented on #712
I'd rather have an added configuration key in the settings and think that "explicit is better than implicit" in this case. If we are using ASGI and have upgrade the Axes settings, it might also be feasible to add [system checks](https://github.com/jazzband/django-axes/blob/master/axes/checks.py) in the Django checks framework for making sure that the user has correctly configured the authenticatio

[2021-11-04 17:54] aleksihakli commented on #776
Can you post your full listing of packages for the project for reference?

[2021-11-19 03:00] jcgiuffrida opened #812 "AxesBackend should not handle permission checks"
### Expected behavior
AxesBackend raises `PermissionDenied` if a user is locked out. Otherwise, the other `AUTHENTICATION_BACKENDS` do the rest of the authentication work.

### Actual behavior
AxesBackend handles permissions checks just like Django's `contrib.auth.backends.ModelBackend` because it inherits from it.

### Explanation
My site uses a custom authentication backend that handles directly

[2021-11-19 16:50] supermario18b opened #813 "Axes user IP is not set for private proxy IPs"
Hi,

I use a nginx reverse proxy server in front of my django app. In my location block I have these settings:

`proxy_set_header X-Real-IP $remote_addr;`
 `proxy_set_ X-Forwarded-For $proxy_add_x_forwarded_for;`

and in Django settings.py I have:

`AXES_PROXY_COUNT = 1`
`AXES_META_PRECEDENCE_ORDER = ( 'HTTP_X_REAL_IP','HTTP_X_FORWARDED_FOR', 'REMOTE_ADDR', )`

Unfortunately the caught ip from axe

[2021-11-20 08:25] supermario18b commented on #813
I don't know if it is relevant, but I forgot to say that at the moment are local addresses (192.168.) since I'm still developing the app.

[2021-11-22 14:00] supermario18b commented on #813
After reading the code of django-ipware I think that the normal behaviour is to return None if the IPs are not public routable.
It should work when I'll let nginx listen on the public interface (internet).

[2021-11-24 10:12] xi opened #814 "Misleading documentation on django rest framework integration"
This is about this section in the docs:

https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-rest-framework

The `user_locked_out` signal is triggered in reaction to the stock django `user_login_failed` signal. That signal is
in turn triggered by django's `authenticate()` function which is used to check combinations of username and password.

For API requests to

[2021-12-08 02:39] edward-springload opened #822 "get_ip dependency on django.utils.six"
Under Python 3.9.9 and Django 3.2.1:

Traceback (most recent call last):
  File "/app/manage.py", line 8, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.9/site-packages/django/core/management/__init__.py", line 419, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python3.9/site-packages/django/core/management/__init__.py", line 395, in

[2021-12-08 02:46] #822 closed

[2021-12-08 02:46] edward-springload commented on #822
Need coffee sorry

[2022-01-09 10:35] aleksihakli commented on #814
Hi @xi :) Would you be interested in opening a PR for matching the facts and language of the documentation page to reality?

The documentation page can be edited easily with GitHub editor:

https://github.com/jazzband/django-axes/blob/master/docs/6_integration.rst

[2022-01-09 10:39] aleksihakli commented on #812
Hi @lucaluca, and thanks for submitting the detailed issue description.

I agree that the design for the authentication backend is less than ideal, but how would the user lockouts be handled if not in the authetnication backend?

The documentation has the architectural image describing the login process and how the Django and Django Axes internals handle the user permission checks and lockouts:

h

[2022-01-09 10:41] aleksihakli commented on #813
Hey @supermario18b, did you figure out what was causing the issue?

[2022-01-19 07:48] igonro opened #837 "Failed logins and attempt time updated even when lockedout"
I'm not sure if this is intended or not, didn't find any information in the docs related to this.

The problem is that is an user is lockedout, the failed logins and the attempt time gets updated. This way `AXES_COOLOFF_TIME` is not working as expected, or at least as I would expect.

Example with `AXES_COOLOFF_TIME=1` (hour):
- Current behaviour
1. User fails to login 3 times, the last attempt at

[2022-01-20 19:53] aleksihakli commented on #837
Hi @igonro, and thanks for filing the issue!

This does seem to be a limitation of the current implementation, and would require changes in the code logic to update. Would you be interested in researching or lining out the necessary changes to update the behaviour of the code to match the expected outcome?

[2022-01-20 19:53] aleksihakli commented on #813
Hi @supermario18b, did you get this working in your implementation?

[2022-01-20 21:07] supermario18b commented on #813
Hi, actually I'm still developing the app and the nginx proxy still has a not public routable ip (192.168.).
The proxy is reached only by the lan.

As I wrote,  since the normal behaviour of django-ipware is to return None if the IPs are not public routable (lan),  I think axes will show the ip when I'll deploy to a server with a public ip.

Since Axes uses Ipware, I think Axes is working fine.

[2022-01-21 10:17] aleksihakli commented on #813
OK, good to hear! I've updated the PR title to reflect the technical state of things, I think it would be great to get this documented in the repository docs which are uploaded to RTD.

If somebody would be interested in opening a PR for updating the docs that would be great :)

[2022-02-21 09:32] code-review-doctor opened #845 "Some tests are skipped due to duplicate names"
Test names must be unique per scope otherwise the second test overrides the first one with the same name.

For example if you had a test file that does:

[code]

Then only the second `test_a` will be ran. More details [here](https://codereview.doctor/features/python/best-practice/avoid-duplicate-unit-test-names).

These are the tests that are overriding previously defined tests due to this problem

[2022-03-02 15:12] #845 closed

[2022-03-03 12:03] drewkbell opened #853 "Azure App Service SSL Configuration Question"
Hello everyone,

This isn't an issue as much of a question since I believe django-axes is behaving properly.

I have this particular Django app deployed to Azure App Services which uses SSL.  I have also read through the other posts/documentation that resolved this by adding the following to the settings.py file:

AXES_META_PRECEDENCE_ORDER = [
   'HTTP_X_FORWARDED_FOR',
   'REMOTE_ADDR',
]

I hav

[2022-03-03 19:04] drewkbell commented on #853
This was a configuration issue on my part.

I read through ipware documentation and this is working now with the following precedence order:

AXES_META_PRECEDENCE_ORDER = [
    'HTTP_X_FORWARDED_FOR', 'X_FORWARDED_FOR',  # <client>, <proxy1>, <proxy2>
    'REMOTE_ADDR',
]

[2022-03-16 17:27] p1-gdd opened #863 "Add failed login history for ever, not just until good login, to allow listing them in a view"
I provide the PR #862 to allow access to ALL failure logins.

[2022-04-07 09:28] skinkie opened #868 "AXES_COOLOFF_TIME must be an integer"
I get this error when signing in into django-admin.

[code]

[2022-04-08 06:49] hramezani commented on #868
Could you please provide more information? e.g Django and django-axes version. Your Django and django-axes configuration. Anything that helps us to reproduce the bug would be appreciated.

[2022-04-08 11:11] skinkie commented on #868
I think I already have a clue. The AXES_COOLOFF_TIME  was configured to 0.25 (because it was hours) I guess that is the root cause.

[2022-04-08 19:04] #814 closed

[2022-04-08 19:17] #837 closed

[2022-04-12 04:00] draizu commented on #863
add for model translate Access failures, please

[2022-04-12 11:03] p1-gdd commented on #863
Can you be more explicit please?

[2022-04-13 14:51] #868 closed

[2022-04-15 16:15] aleksihakli commented on #863
Are you possibly referring to Django translations?

https://docs.djangoproject.com/en/dev/topics/i18n/translation/

[2022-04-15 16:15] #863 closed

[2022-04-21 09:28] kwint opened #874 "ValueError: 'AccessFailureLog' is not in list after update to 5.32 from 5.31"
Hi,

I'm experiencing an issue when opening django admin after updating axes to 5.32 from 5.31. I don't see anything in the changelog that would explain this issue.

Full log:
[code]

On django 3.2.13 with python 3.10

I see in https://github.com/jazzband/django-axes/blob/master/axes/admin.py that there is an `AccessFailureLog` registered. If I add this to the `ADMIN_ORDERING` setting I still get

[2022-04-21 14:26] hramezani commented on #874
I've tested your snippet and it worked for me by adding `AccessFailureLog`.

[code]

[2022-04-22 09:21] aleksihakli commented on #874
Hi @kwint and thanks for reporting. Did you have success fixing this yet?

[2022-04-22 09:34] kwint commented on #874
I was just having another shot at this. But indeed adding `"AccessFailureLog"` to the `ADMIN ORDERING` list works now. I might have screwed something up when I did this before.

[2022-04-22 09:36] #874 closed

[2022-04-27 17:03] UtkucanBykl opened #877 "Lockout does not work for JWT it works only for admin"
Python version 3.7
Django version 3.0.9
django-axes version 5.27.0

settings.py
[code]

Also, i added signal to my project

[code]

I am using `djangorestframework-simplejwt==4.4.0` for authentication, When i try login attempt with incorrect username or password in admin page, i see an log
![image](https://user-images.githubusercontent.com/23557763/165579573-e1645978-338e-422f-aa11-582483529bad.pn

[2022-04-28 06:08] #877 closed

[2022-05-03 12:28] sabanak commented on #474
Is there any option for locking user by there email and IP instead of username and IP by using django-axes ?

[2022-05-07 10:25] ShaheedHaque opened #884 "Streamline AXES startup verbose logs"
At the moment, the verbose logging starting here: https://github.com/jazzband/django-axes/blob/876b6f3dc4377daa6e1d2a1244ea7a86bf952695/axes/apps.py#L33 emits 3 lines like this:
[code]
Would it not be nicer to just output one line? For example like this:
[code]
I'd be happy to provide a PR if desired.

[2022-05-07 11:43] aleksihakli commented on #884
Hey @ShaheedHaque, this sounds like a good idea :) Please feel free to open a PR!

[2022-05-11 14:08] #884 closed

[2022-05-13 07:05] dwasyl commented on #812
@aleksihakli I just ran into the same problem that @jcgiuffrida ran into as well. I've developed a custom permission handler for some behind the scenes mutli-tenant stuff.

I believe with his original proposal, `django-axes` would still provide an authentication backend, however it would be limited in scope and *not* contain all of the user/group permission checks that are unnecessary. It means th

[2022-05-16 07:51] aleksihakli commented on #812
If you have an implementation that you think is an improvement over the current one and you'd like to see it upstreamed for Axes the project is 100% open for contributions, please feel free to open a PR. The only criteria I'd like the implementation to fill is that the current backwards compatibility is kept if the proposal overrides the current implementation :)

[2022-05-24 13:34] GitRon opened #892 "Missing German translation for "Access failures""
I just realised that this translation is missing. I'd go with something like "Fehlgeschlagene Zugriffsversuche" (plural) and "Fehlgeschlagener Zugriffsversuch" (singular)

Best
Ronny

[2022-05-25 12:05] stephenmullens commented on #511
@ckristhoff Do you have an example of your django-axis and django-graphql-jwt integration which you could share?

[2022-05-26 14:13] aleksihakli commented on #892
Hi @GitRon and thanks for reporting the issue. The proposal sounds good, would you like to a open a PR for it?

[2022-05-27 09:55] GitRon commented on #892
@aleksihakli I created a PR 😃

[2022-05-28 15:02] #892 closed

[2022-05-28 15:13] aleksihakli commented on #892
Released as part of version 5.34.0.

[2022-05-30 13:09] GitRon opened #897 "Optimise settings variable overview in the docs"
I find it kind of hard to read the [docs](https://django-axes.readthedocs.io/en/latest/4_configuration.html#configuring-project-settings) part of the settings variables. Maybe a table layout helps? I am providing a PR for a start but I can't see how this would look at RTD, though.

Help appreciated 🙂

[2022-06-03 12:30] #897 closed

[2022-07-13 21:14] jcgiuffrida commented on #812
I opened a PR for this. In the meantime @dwasyl I just use a very basic fix in my project:

[code]

You may need to copy/paste other methods from `django.contrib.auth.backends.BaseBackend` for your project.

[2022-07-17 14:12] #812 closed

[2022-07-17 14:32] aleksihakli commented on #812
Released as part of 5.36.0

[2022-07-20 09:13] oscarsiles opened #907 "W003 error in 5.36.0 using AxesStandaloneBackend"
Upon upgrading to the latest version, and switching to AxesStandaloneBackend under AUTHENTICATION_BACKENDS, I am getting the W003 error. I've silenced it for now using the info in the docs, but perhaps the config checker needs updating as well?

[2022-07-29 15:59] m-lang opened #909 "AccessLog update causes deadlock"
In user_logged_out function of handler/database.py there is an update() call:

[code]
There are two problems with this update:

1. If the same user logs into the system from multiple places then at logout the AXES Django module tries to update ALL rows that has logout time NULL for the user. That means that the first logout will trigger all records belonging to the user to be updated, which is not

[2022-08-06 06:49] simonkern commented on #907
confirmed - I got the same warning, after following the instructions in the documentation.

[2022-08-17 11:38] aleksihakli commented on #909
Quick and dirty fix can not be guaranteed to work with all the database backends as row IDs are not always-incrementing. Would somebody be interested in exploring linking sessions to the AccessLog records or fixing the deadlock by other means?

[2022-08-18 13:32] #907 closed

[2022-08-18 13:47] aleksihakli commented on #907
Released to PyPI in version 5.39.0.

[2022-08-22 07:36] Mdp11 opened #914 "How to manipulate logs"
Hello everyone,

Looking through documentation I could not find a way to manipulate log content and how to remove it from console and instead redirect it to a file.
Is it possible to achieve this?

[2022-08-22 09:30] Lem opened #915 "sqlite: failling drop of column trusted in axes_accessattempt"
I tried to install a project which uses django-axes but the step where the database gets initialized failed:
[code]

Trying to drop the column manually:
[code]

It seems that sqlite has a problem if a column gets dropen if there is still an index depending on it.

Versions used in this case (if needed):
[code]

[2022-08-22 10:41] Lem commented on #915
After modifying your migrations locally by altering the field back to `db_index=False` another column is affected to by an index depending on a to-be-deleted column:

[code]

[2022-08-24 04:55] krishdb38 commented on #813
I am facing almost the same situation.
I am getting user IP if SSL is not activated.
if I use SSL in Nginx then instead IP only - is recording.

does anyone know how to solve this issue while deployed with gunicorn, Nginx, & SSL?

[2022-08-25 19:48] k-brahma commented on #915
same problem happens when upgraded djnago 4.0 to 4.1.
when downgraded to 4.0 the error not occurred.

[2022-08-26 18:11] aleksihakli commented on #915
Good catch. Is there a straightforward fix for this available?

[2022-08-27 17:14] ebikdeli opened #916 "Django 4.1 issue with migrate the database after adding django-axes"
After django-axes added to the project, when migrate the database this error raised:

sqlite3.OperationalError: error in index axes_accessattempt_trusted_0eddf52e after drop column: no such column: trusted

django 4.0.7 works just fine.

[2022-08-29 15:35] denisSurkov commented on #916
I think this is the same as https://github.com/jazzband/django-axes/issues/915

[2022-08-29 16:00] denisSurkov commented on #915
This issue will be solved in 4.1.1 Django release:
https://docs.djangoproject.com/en/4.1/releases/4.1.1/

Original issue:
https://code.djangoproject.com/ticket/33899

[2022-08-30 01:41] krishdb38 commented on #813
location / {
        proxy_pass                   http://mysite.net;
        proxy_set_header            Host $host;
        proxy_set_header            X-Real-IP $remote_addr;
        proxy_http_version          1.1;

        proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header            X-Forwarded-Proto http;
        proxy_redirect              http:

[2022-09-15 08:12] jedie opened #921 "ImportError: cannot import name 'get_distribution' from 'pkg_resources'"
django_axes v5.39.0
[code]

[2022-10-13 07:22] cjtapper opened #930 "AXES_USE_USER_AGENT not functioning correctly"
This might be a duplicate of #677, but the user there did not provide enough detail for me to be sure.

I am using the following versions of Django and Axes:
[code]

My Axes configuration is as follows:
[code]

When I reach the 5 failure limit with a given `(ip, user_agent)` pair, I am locked out. If I change to a different user agent, I am still locked out. This is not expected, and the docs do n

[2022-10-13 07:23] cjtapper commented on #930
I can confirm that this does not appear to be a problem with `AxesCacheHandler` specifically - I have tested with `AxesDatabaseHandler` as well, and I am seeing the same bug.

[2022-10-13 09:24] cjtapper commented on #930
This was bug was introduced in commit 128d01158cf5de5208dc7edbd5ecab54e0cd8f7c in the `get_client_parameters` function. The `user_agent` should be being set in the same dict as the `ip_address`, rather than appending a new dict with user agent onto the `filter_query` list

[2022-10-13 09:25] cjtapper commented on #930
There is not sufficient test coverage around the `AXES_USE_USER_AGENT` feature - this is a fairly major regression!

[2022-10-13 17:59] Kraust opened #931 "Cannot use Token-based Authentication Backend unless AXES_ONLY_USER_FAILURES is set to True."
I am running into a similar issue as #597 where I am using a Token Authentication Backend along side User-based authentication backends and I want to use Axes only for those User-based backends. I am running into an issue where my token based authentication will generate user_login_failed callbacks and as a result try and create AccessAttempt records with a username of "None" (a string).

I can wo

[2022-10-25 08:33] liampauling opened #932 "Migration 0007 missing db alias"
Migration [0007](https://github.com/jazzband/django-axes/blob/master/axes/migrations/0007_alter_accessattempt_unique_together.py) is missing the use of a database alias resulting in issues if the database option is used when applying.

As per [docs](https://docs.djangoproject.com/en/4.1/ref/migration-operations/#runpython) `db_alias = schema_editor.connection.alias` should be used.

[2022-11-06 22:13] Arhell opened #939 "update links"
http=>https

[2022-11-07 09:12] edmundrotimi opened #940 "Unit Testing"
I get the error "AXES: New login failure by {username: "None", ip_address: "None", user_agent: "<unknown>", path_info: "<unknown>"}. Created new record in the database." when running unit test with Axes backend. The test runs successfully, but how can I fix the error?

       def test_admin(self):
             request = HttpRequest()
             authenticate(
                   request,

[2022-11-08 22:18] #939 closed

[2022-11-14 16:25] #921 closed

[2022-11-19 11:01] aleksihakli commented on #930
Thank you for the detailed report @cjtapper. Would you or @PetrDlouhy be interested in issuing a fix for this?

[2022-11-19 20:27] cjtapper commented on #930
Happy to give feedback / review on any PRs that are opened related to this, but unfortunately I don't have the time to work on the fix myself

[2022-11-21 21:30] js-truework opened #949 "Migration 007 relation "axes_accessattempt" does not exist"
Python version: 3.10.8
Django Version: 4.0.8
Django-axes version: 5.40.0

Scenario: When upgrading from django-axes 5.39.0 to django-axes 5.40.0, with the django version of 4.0.8 remaining constant, we're encountering this exception below when trying to run all migrations in order on a fresh database. Reverting to `django-axes 5.39.0` causes this error to disappear.

I've previously searched for e

[2022-11-22 18:22] PetrDlouhy commented on #930
I will look into it today or tomorow.

BTW By coincidence our service was today subject of brute force attack probably by a leaked e-mail - password list. The attacker did probably broke into 3 free (insignificant) accounts.
I realized, that I didn't have the option `AXES_LOCK_OUT_BY_USER_OR_IP` on.
From this experience I would recommend to have it always on.

[2022-11-24 13:48] PetrDlouhy commented on #930
I made a fix in #950, please test.

Note: the `utils.reset_requests()` function doesn't work with `AXES_USE_USER_AGENT=True`. That function was never implemented.

[2022-11-24 19:58] #930 closed

[2022-11-24 19:59] aleksihakli commented on #930
LGTM. Should the `reset_requests` utility have added documentation and/or raise a warning if it is being used with user agent support enabled?

[2022-11-24 20:13] aleksihakli commented on #949
Could https://github.com/jazzband/django-axes/issues/932 be the cause for this?

[2022-11-24 23:05] PetrDlouhy commented on #930
@aleksihakli I don't know. If the behavior is dangerous I would suggest even raising NotImplementedError exception.

But maybe the default behavior is not that bad. It would probably re-enable more access possibilities than needed on the reset, but it could still be safe enough.

[2022-11-25 22:00] js-truework commented on #949
That did seem like the most likely culprit, with my minimal knowledge. I also didn't specify here but we do have several different databases configured in our application, which might make a difference here?

[2022-11-27 12:43] aleksihakli commented on #949
Could you post your database configuration for reference?

[2022-11-30 05:02] js-truework commented on #949
I've scrubbed out the way we populate the values for the params, and changed the names that we use to reference the DB. Otherwise this captures it. A Database enum that we use to ensure that all database references are one of the configured ones, and mostly just a series of databases / replicas.

I haven't sought to do a minimal repro yet, but if I had to guess I'd guess either (1) using the enum

[2022-11-30 10:31] liampauling commented on #949
Certainly looks like #932 is the cause, how are you applying migrations to these databases?

[2022-11-30 17:21] js-truework commented on #949
We have a Django command that loops over the databases and runs the migrate command on each (`./manage.py migrate_all`). As far as I can understand it, we're applying the migrations the same way that `./manage.py migrate --database default` would apply it.

[code]